extends ../_layout_auth

block body
  h2.m-bottom-6 品牌設定
  .well.control-well.p-30.m-left-2.m-bottom-8
    h3
      span.label.label-default.p-10-15 基本資訊
    .form-horizontal
      .form-group
        label.col-sm-3.col-md-2.control-label 大頭貼照
        .col-sm-9.col-md-10
          .max-width-150
            //
              fileinput-img
              ==================================================
            .fileinput.fileinput-new(data-provides='fileinput')
              .fileinput-new.fileinput-square
                - var avatar = (brand && brand.avatar) ? brand.avatar : '';
                img.img-full(src=avatar.length > 0 ? avatar : 'http://fakeimg.pl/600x600/dddddd/FFF/?text=600x600')
              // /fileinput-new
              //- TODO: need to update brand
              form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                .fileinput-preview.fileinput-exists.border-block-1
                // /fileinput-preview
                .fileinput-btn
                  span.btn.btn-default.btn-sm.btn-file
                    span.fileinput-new Select image
                    span.fileinput-exists Change
                    input.fileInput(type='file', name="uploadfile", data-name='avatar')
                    input(type='hidden', name="filename", value='avatar')
                    input(type='hidden', name="width", value='600')
                    input(type='hidden', name="height", value='600')
                    input(type='hidden', name='avatar', form='brand-data', value=avatar)
                  a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
              // /fileinput-btn
            // /fileinput
          // /max-width-150
          a(href='#', data-toggle='tooltip', title='商品圖長寬 600x600 像素，限 JPG/GIF 格式，檔案大小 500KB 以下')
            span.glyphicon.glyphicon-info
        // /col-sm-10
      // /form-group
      form#brand-data(action=brand ? '/admin/brands/update?id=' + brand.id : '/admin/brands/create', method="POST")
        .form-group
          label.col-sm-3.col-md-2.control-label 品牌名稱
          .col-sm-9.col-md-5
            input.form-control(type='text', name="name", placeholder='請輸入品牌名稱' value= brand?brand.name:"")
          .col-sm-9.col-sm-offset-3.col-md-5.col-md-offset-0
            label.radio-inline
              input#inlineRadio1(type='radio', name='type', value='AGENT' checked=(brand&&brand.type=="AGENT")?"":undefined)
              |  代理品牌
            label.radio-inline
              input#inlineRadio2(type='radio', name='type', value='PRIME_GOOD' checked=(brand&&brand.type=="PRIME_GOOD")?"":undefined)
              |  精選品牌
        // /form-group
        .form-group
          label.col-sm-3.col-md-2.control-label 品牌介紹
          .col-sm-9.col-md-10
            textarea.form-control(name='desc', rows='6' )= brand?brand.desc:""
          //- input(name='avatar', type='hidden')
          //- - for (var i=1; i<=6; i++)
          //-   input(name='photo[#{i}]', type='hidden')
          //- input(name='banner', type='hidden')

        // /form-group
      // /form#brand-data
  // /well
  .well.control-well.p-30.m-left-2.m-bottom-8
    h3
      span.label.label-default.p-10-15 形象照片
    .row.row-m
      - var photos = (brand && brand.photos) ? JSON.parse(brand.photos) : undefined;
      - for (var i=0; i<6; i++)
        - var photo = (photos) ? photos[i] : '';
        .col-md-4
          .edit-block.m-bottom-4
            span.badge=i
            //
              fileinput-img
              ==================================================
            .fileinput.fileinput-new(data-provides='fileinput')
              .fileinput-new
                img.img-full(src=(photo) ? photo : "http://fakeimg.pl/1100x500/dddddd/FFF/?text=1100x500")
              
              .fileinput-preview.fileinput-exists.border-block-1
                //- // /fileinput-preview
              form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                .fileinput-btn
                  span.btn.btn-default.btn-sm.btn-file
                    span.fileinput-new Select image
                    span.fileinput-exists Change
                    input.fileInput(type='file', name='uploadfile', data-name='photos[]')
                    input(type='hidden', name="filename", value='photos[]')
                    input(type='hidden', name="width", value='1100')
                    input(type='hidden', name="height", value='500')
                    input(type='hidden', name='photos[]', form='brand-data', value=photo)

                  a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
                // /fileinput-btn
              //form
            // /fileinput
          // /edit-block
        // /col-md-4

    // /row
    a(href='#', data-toggle='tooltip', title='', data-original-title='商品圖長寬 1100x500 像素，限 JPG/GIF 格式，檔案大小 500KB 以下')
      span.glyphicon.glyphicon-info
  // /well
  .well.control-well.p-30.m-left-2.m-bottom-8
    h3
      span.label.label-default.p-10-15 購物招牌
    //
      fileinput-img
      ==================================================
    - var banner = (brand && brand.banner) ? brand.banner : "";
    .fileinput.fileinput-new(data-provides='fileinput')
      .fileinput-new
        img.img-full(src=(banner.length > 0) ? banner : "http://fakeimg.pl/1100x250/dddddd/FFF/?text=1100x250")
      // /fileinput-new
      .fileinput-preview.fileinput-exists.border-block-1
      // /fileinput-preview
      form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
        .fileinput-btn
          span.btn.btn-default.btn-sm.btn-file
            span.fileinput-new Select image
            span.fileinput-exists Change
            input.fileInput(type='file', name='uploadfile', data-name='banner')
            input(type='hidden', name="filename", value='banner')
            input(type='hidden', name="width", value='1100')
            input(type='hidden', name="height", value='250')
            input(type='hidden', name='banner', form='brand-data', value=banner)
          a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
        // /fileinput-btn
      // /fileinput
      // /form
    a(href='#', data-toggle='tooltip', title='', data-original-title='商品圖長寬 1100x250 像素，限 JPG/GIF 格式，檔案大小 500KB 以下')
      span.glyphicon.glyphicon-info
  // /well
  .text-center.m-bottom-8
    if brand
      a.btn.btn-link.delete-link.btn-lg(data-toggle='modal', data-id="#{brand.id}", data-name="#{brand.name}", id="deleteBrand") 刪除品牌
    input.btn.btn-green.btn-lg(type='submit', form='brand-data', value='確定') 
  // /text-center
// /well


block js
  script(src='/javascripts/admin/brandCreate.js')
