extends ../_layout_auth

block body
  h2.m-bottom-6 品牌管理
  a.btn.btn-danger.btn-lg.m-bottom-6(href='/admin/brands/create') 建立品牌
  .clearfix.m-bottom-2.text-left
    h4.text-gray-darker.m-bottom-4 代理品牌
    ul.list-inline.list-brand
      each agent, index in agents
        li(data-id='#{agent.id}')
          a(href='/admin/brands/update?id=#{agent.id}')
            img.border-block-1.img-full(src='#{agent.avatar}', title='#{agent.name}')
    // /list-barnd


  // /clearfix
  .clearfix.m-bottom-2
    h4.text-gray-darker.m-bottom-4 精選品牌
    ul.list-inline.list-brand
      each brand, index in brands
        li(data-id='#{brand.id}')
          a(href='/admin/brands/update?id=#{brand.id}')
            img.border-block-1.img-full(src='#{brand.avatar}', title='#{brand.name}')

    // /list-barnd
    //- ul.list-group.list-barnd.list-group-edit.p-top-2
    //-   each brandLock, index in brandLocks
    //-     a.list-group-item.edit-link(href='/admin/brands/update?id=#{brandLock.id}')
    //-       | #{brandLock.name}
    //-       span.glyphicon.glyphicon-lock
    // /list-barnd
  // /clearfix

block js
  script(src="/javascripts/admin/brandList.js")
