extends ../_layout_auth

block body
  h2.m-bottom-6 關於我們
  .well.control-well.p-30.m-left-2.m-bottom-8
    h3
      span.label.label-default.p-10-15 品牌願景
    form#about-data(action="/admin/about", method="POST")
      textarea.form-control(rows='6', placeholder='請輸入品牌願景',name="brandVision")
        | #{about.brandVision}
  // /well
  .well.control-well.p-30.m-left-2.m-bottom-8
    h3
      span.label.label-default.p-10-15 圖片上傳
    .row.row-m
      .col-md-4
        .edit-block.m-bottom-4 
          -var productPhoto = JSON.parse(about.productPhotos); 
          //
            fileinput-img
            ==================================================
          .fileinput.fileinput-new(data-provides='fileinput')
            .fileinput-new.dashed-block-2.min-height-150
              img.img-full(src=(productPhoto[0] != '') ? productPhoto[0] :'http://fakeimg.pl/1000x1000/dddddd/FFF/?text=1000x800')
            // /fileinput-new

            //- TODO: need to update brand
            form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
              .fileinput-preview.fileinput-exists.border-block-1
              // /fileinput-preview
              .fileinput-btn
                span.btn.btn-default.btn-sm.btn-file
                  span.fileinput-new Select image
                  span.fileinput-exists Change
                  input.fileInput(type='file', name="uploadfile", data-name='productPhotos[]')
                  input(type='hidden', name="filename", value='productPhotos[]')
                  input(type='hidden', name="width", value='1000')
                  input(type='hidden', name="height", value='800')
                  input(type='hidden', name='productPhotos[]', form='about-data', value=(productPhoto[0] != "") ? productPhoto[0] : product)                
                a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
            // /fileinput-btn
          // /fileinput
        // /edit-block
      // /col-md-4
      .col-md-4
        .edit-block.m-bottom-4
          //
            fileinput-img
            ==================================================
          .fileinput.fileinput-new(data-provides='fileinput')
            .fileinput-new.dashed-block-2.min-height-150
              img.img-full(src=(productPhoto[1] != '') ? productPhoto[1] :'http://fakeimg.pl/1000x1000/dddddd/FFF/?text=1000x800')
            // /fileinput-new
            //- TODO: need to update brand
            form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
              .fileinput-preview.fileinput-exists.border-block-1
              // /fileinput-preview
              .fileinput-btn
                span.btn.btn-default.btn-sm.btn-file
                  span.fileinput-new Select image
                  span.fileinput-exists Change
                  input.fileInput(type='file', name="uploadfile", data-name='productPhotos[]')
                  input(type='hidden', name="filename", value='productPhotos[]')
                  input(type='hidden', name="width", value='1000')
                  input(type='hidden', name="height", value='800')
                  input(type='hidden', name='productPhotos[]', form='about-data', value=(productPhoto[1] != "") ? productPhoto[1] : product)                
                 a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
            // /fileinput-btn
          // /fileinput
        // /edit-block
      // /col-md-4
      .col-md-4
        .edit-block.m-bottom-4
          //
            fileinput-img
            ==================================================
          .fileinput.fileinput-new(data-provides='fileinput')
            .fileinput-new.dashed-block-2.min-height-150
              img.img-full(src=(productPhoto[2] != '') ? productPhoto[2] :'http://fakeimg.pl/1000x1000/dddddd/FFF/?text=1000x800')
            // /fileinput-new
            .fileinput-preview.fileinput-exists.border-block-1
            // /fileinput-preview
             //- TODO: need to update brand
            form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
              .fileinput-preview.fileinput-exists.border-block-1
              // /fileinput-preview
              .fileinput-btn
                span.btn.btn-default.btn-sm.btn-file
                  span.fileinput-new Select image
                  span.fileinput-exists Change
                  input.fileInput(type='file', name="uploadfile", data-name='productPhotos[]')
                  input(type='hidden', name="filename", value='productPhotos[]')
                  input(type='hidden', name="width", value='1000')
                  input(type='hidden', name="height", value='800')
                  input(type='hidden', name='productPhotos[]', form='about-data', value=(productPhoto[2] != "") ? productPhoto[2] : product)                              
                a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
            // /fileinput-btn
          // /fileinput
        // /edit-block
      // /col-md-4
    // /row
    a(href='#', data-toggle='tooltip', title='', data-original-title='商品圖長寬 1000x800 像素，限 JPG/GIF 格式，檔案大小 500KB 以下')
      span.glyphicon.glyphicon-info
  // /well
  .well.control-well.p-30.m-left-2.m-bottom-8
    h3
      span.label.label-default.p-10-15 公司簡介
    textarea.form-control(rows='6', placeholder='請輸入公司簡介' , form='about-data', name='aboutCompany')
      | #{about.brandVision}
  // /well
  .well.control-well.p-30.m-left-2.m-bottom-8
    h3
      span.label.label-default.p-10-15 經銷商
    .row.row-m
      - var photos = (about && about.dealerPhotos) ? JSON.parse(about.dealerPhotos) : undefined;
      - var dealerName = (about && about.dealerNames) ? JSON.parse(about.dealerNames) : "";
      each photo, index in photos
        if(photo!='')
          .col-md-3
              .edit-block.m-bottom-4
                // fileinput-img
                .fileinput.fileinput-new(data-provides='fileinput')
                  .fileinput-new.fileinput-square
                    img.img-full(src='#{photo}')
                  // /fileinput-new
                  .fileinput-preview.fileinput-exists.border-block-1
                  // /fileinput-preview
                  .fileinput-btn
                    form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                      span.btn.btn-default.btn-sm.btn-file
                        span.fileinput-new Select image
                        span.fileinput-exists Change
                        input.fileInput(type='file', name="uploadfile", data-name='dealerPhotos[]')
                        input(type='hidden', name="filename", value='dealerPhotos[]')
                        input(type='hidden', name="width", value='800')
                        input(type='hidden', name="height", value='800')
                        input(type='hidden', name='dealerPhotos[]', form='about-data', value='#{photo}')
                      a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
                    // /form
                  // /fileinput-btn
                // /fileinput
                a.btn-remove(href='#')
                  span.glyphicon.glyphicon-remove
                .form-group.m-top-2.m-bottom-0
                  input.form-control(type='url', form='about-data', name="dealerNames[]", value="#{dealerName[index]}", required)
              // /edit-block
            // /col-md-3

      .col-md-3
        .edit-block.m-bottom-4
          // fileinput-img
          .fileinput.fileinput-new(data-provides='fileinput')
            .fileinput-new.fileinput-square
              img.img-full(src='http://fakeimg.pl/1000x1000/dddddd/FFF/?text=800x800')
            // /fileinput-new
            .fileinput-preview.fileinput-exists.border-block-1
            // /fileinput-preview
            .fileinput-btn
              form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                span.btn.btn-default.btn-sm.btn-file
                  span.fileinput-new Select image
                  span.fileinput-exists Change
                  input.fileInput(type='file', name="uploadfile", data-name='dealerPhotos[]')
                  input(type='hidden', name="filename", value='dealerPhotos[]')
                  input(type='hidden', name="width", value='800')
                  input(type='hidden', name="height", value='800')
                  input(type='hidden', name='dealerPhotos[]', form='about-data', value='')
                a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
              // /form
            // /fileinput-btn
          // /fileinput
          a.btn-remove(href='#')
            span.glyphicon.glyphicon-remove
          a.btn-add(href='#')
            span.glyphicon.glyphicon-plus
          .form-group.m-top-2.m-bottom-0
            input.form-control(type='url', form='about-data', name="dealerNames[]", required)
        // /edit-block
      // /col-md-3




      
    // /row
    a(href='#', data-toggle='tooltip', title='', data-original-title='商品圖長寬 800x800 像素，限 JPG/GIF 格式，檔案大小 500KB 以下')
      span.glyphicon.glyphicon-info
  // /well
  .text-center.m-bottom-6
    input.btn.btn-green.btn-lg(type='submit', form='about-data', value='確認送出') 
  // /text-center
block js
  script(src='/javascripts/admin/controlAbout.js')
