extends ../_layout_auth
block body
  h2.m-bottom-6 館別管理
  .row
    #dpt-big.col-md-3.border-right-1.m-bottom-6
      h4.m-bottom-4.text-gray 大館別
      ul.list-group.list-group-edit.list-group-lg
        each dpt, index in dpts
          li.list-group-item.edit-link
            span.glyphicon.glyphicon-menu.m-right-2(data-id='#{dpt.id}')
            a(href='#', data-toggle='modal', data-id='#{dpt.id}',data-name='#{dpt.name}', class=(dpt.weight == 999)? 'special project': 'dpt name')
              | #{dpt.name}
              -if (dpt.weight != 999)
                span.glyphicon.glyphicon-pencil2.m-left-1(data-id='#{dpt.id}',data-name='#{dpt.name}')
        // /list-group-item
      // /list-group-edit
    // /col-md-3
    #small-dpt.col-md-3.border-right-1.m-bottom-6
      h4.m-bottom-4.text-gray
        | 小館別
        a.btn.btn-sm-circle.btn-green.m-left-1(id="plus", href='#', data-toggle='modal', data-target='#modal-control-shop-type-sm')
          span.glyphicon.glyphicon-plus
      .list-group.list-group-edit()
        DptSubs
        each dpt, val in dpts
          - var subDptId = (dpt.weight === 999) ? "special" : "subDpt" + val;
          - var subDptClass = (dpt.weight === 999) ? "special" : "dpt";
          div(id=subDptId, style="display:none", class=subDptClass) 

            - if (dpt.DptSubs.length)
              each subDpt, index in dpt.DptSubs
                // /list-group-item
                .list-group-item.edit-link

                  - if (subDpt.official)
                      =subDpt.name
                      span.glyphicon.glyphicon-locked

                  - else

                    a(href='#', data-toggle='modal', class='subDpt name', data-id="#{subDpt.id}",data-name='#{subDpt.name}')
                      | #{subDpt.name}
                      span.glyphicon.glyphicon-pencil2.m-left-1
                    a.delete.subDpt(href='#', data-toggle='modal', data-id="#{subDpt.id}")
                      span.glyphicon.glyphicon-remove

        //- // /list-group-item
        //- .list-group-item.edit-link
        //-   a(href='#', data-toggle='modal', data-target='#modal-control-shop-type-sm')
        //-     | 午茶特輯
        //-     span.glyphicon.glyphicon-pencil2.m-left-1
        //-   a(href='#', data-toggle='modal', data-target='#modal-delete')
        //-     span.glyphicon.glyphicon-remove
        // /list-group-item
      // /list-group-edit
    // /col-md-3
    .col-md-6
      //- h4.m-bottom-4.text-gray
      //-   | 商品列表
      //- .list-group.list-group-edit.font-size-base
      //-   .list-group-item.edit-link
      //-     a(href='shop-item-add')
      //-       | {product_name}
      //-       span.glyphicon.glyphicon-pencil2.m-left-1
      //-   // /list-group-item
      //-   .list-group-item.edit-link
      //-     a(href='shop-item-add')
      //-       | {product_name}
      //-       span.glyphicon.glyphicon-pencil2.m-left-1
        // /list-group-item
      // /list-group-edit
    // /col-md-6
  // /row
block js
  script(src="/javascripts/admin/departmentList.js")
