extends ../_layout_auth

block body
  ul.col-sm-9.col-md-10
    h2.m-bottom-6 精選活動
    .row
      .col-xs-6
        a.btn.btn-danger.btn-lg.m-bottom-2(href='#', data-toggle='modal', data-target='#modal-control-index-exclusive-type') 建立活動
      // /col-xs-6
      .col-xs-6.text-right
        input.btn.btn-green.btn-lg.m-bottom-2(type='submit', form='activesData', value='儲存變更')
      // /col-xs-6
    // /row
    hr.dashed-line
    form#activesData(action='/admin/exclusive', method='POST')
    each activity, index in activities
      case activity.type
        when 'oneLong'
          - activity.Images[0] = activity.Images[0] || { url: "", path: "http://fakeimg.pl/1100x160", openWindow: false};
          li.well.control-well.p-10-20.m-bottom-8.type1
            input(type='hidden', name='actives[#{index}][type]', value=activity.type, form='activesData')
            input(type='hidden', name='actives[#{index}][weight]',class='activityWeigth', form='activesData')
            .row
              .col-sm-6
                span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
              // /col-sm-6
              .col-sm-6.text-right
                a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
                  span.glyphicon.glyphicon-remove
              // /col-sm-6
            // /row
            .form-horizontal
              .row.row-s.m-bottom-4
                .col-xs-12
                  .fileinput.fileinput-new(data-provides='fileinput')
                    .fileinput-new
                      img.img-full(src='#{activity.Images[0].path}')
                    // /fileinput-new
                    .fileinput-preview.fileinput-exists
                    // /fileinput-preview
                    .fileinput-btn
                      form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                        span.btn.btn-default.btn-sm.btn-file
                          span.fileinput-new Select image
                          span.fileinput-exists Change
                          input.fileInput(type='file', name='uploadfile', data-name='actives[#{index}][Images][0][path]')
                          input(type='hidden', name="filename", value='actives[#{index}][Images][0][path]')
                          input(type='hidden', name="width", value='1100')
                          input(type='hidden', name="height", value='160')
                          input(type='hidden', name='actives[#{index}][Images][0][path]', form='activesData', value='#{activity.Images[0].path}')
                      a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
                    // /fileinput-btn
                  // /fileinput
                // /col-xs-12
              // /row
              .form-group
                .col-sm-9.col-md-9
                  input.form-control.urlInput(type='text', name='actives[#{index}][Images][0][url]', form='activesData', placeholder='http://連結網址', value=activity.Images[0].url?activity.Images[0].url:'')
                // /col-sm-9
                .col-sm-3.col-md-3
                  .checkbox
                    label
                      input(type='checkbox', checked=activity.Images[0].openWindow, value='true', name='actives[#{index}][Images][0][openWindow]', form='activesData')
                      |  另開視窗
              // /form-group
          // /well

        when 'oneBig'
          - activity.Images[0] = activity.Images[0] || { url: "", path: "http://fakeimg.pl/1100x350", openWindow: false};
          li.well.control-well.p-10-20.m-bottom-8.type2
            input(type='hidden', name='actives[#{index}][type]', value=activity.type, form='activesData')
            input(type='hidden', name='actives[#{index}][weight]',class='activityWeigth', form='activesData')
            .row
              .col-sm-6
                span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
              // /col-sm-6
              .col-sm-6.text-right
                a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
                  span.glyphicon.glyphicon-remove
              // /col-sm-6
            // /row
            .form-horizontal
              .row.row-s.m-bottom-4
                .col-xs-12
                  .fileinput.fileinput-new(data-provides='fileinput')
                    .fileinput-new
                      img.img-full(src='#{activity.Images[0].path}')
                    // /fileinput-new
                    .fileinput-preview.fileinput-exists
                    // /fileinput-preview
                    .fileinput-btn
                      form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                        span.btn.btn-default.btn-sm.btn-file
                          span.fileinput-new Select image
                          span.fileinput-exists Change
                          input.fileInput(type='file', name='uploadfile', data-name='actives[#{index}][Images][0][path]')
                          input(type='hidden', name="filename", value='actives[#{index}][Images][0][path]')
                          input(type='hidden', name="width", value='1100')
                          input(type='hidden', name="height", value='350')
                          input(type='hidden', name='actives[#{index}][Images][0][path]', form='activesData', value='#{activity.Images[0].path}')
                      a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
                        //- span.glyphicon.glyphicon-remove
                    // /fileinput-btn
                  // /fileinput
                // /col-xs-12
              // /row
              .form-group
                .col-sm-9.col-md-9
                  input.form-control.urlInput(type='text', name='actives[#{index}][Images][0][url]', form='activesData', placeholder='http://連結網址', value=activity.Images[0].url?activity.Images[0].url:'')
                // /col-sm-9
                .col-sm-3.col-md-3
                  .checkbox
                    label
                      input(type='checkbox', checked=activity.Images[0].openWindow, value='true', name='actives[#{index}][Images][0][openWindow]', form='activesData')
                      |  另開視窗
              // /form-group
          // /well

        when 'two'
          li.well.control-well.p-10-20.m-bottom-8.type3
            input(type='hidden', name='actives[#{index}][type]', value=activity.type, form='activesData')
            input(type='hidden', name='actives[#{index}][weight]',class='activityWeigth', form='activesData')
            .row
              .col-sm-6
                span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
              // /col-sm-6
              .col-sm-6.text-right
                a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
                  span.glyphicon.glyphicon-remove
              // /col-sm-6
            // /row
            .form-horizontal
              .row.row-s
                - for (var i=0; i<2; i++)
                  - activity.Images[i] = activity.Images[i] || { url: "", path: "http://fakeimg.pl/545x350", openWindow: false};
                  .col-xs-6
                    .fileinput.fileinput-new.m-bottom-4(data-provides='fileinput')
                      .fileinput-new
                        img.img-full(src='#{activity.Images[i].path}')
                      // /fileinput-new
                      .fileinput-preview.fileinput-exists
                      // /fileinput-preview
                      .fileinput-btn
                        form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                          span.btn.btn-default.btn-sm.btn-file
                            span.fileinput-new Select image
                            span.fileinput-exists Change
                            input.fileInput(type='file', name='uploadfile', data-name='actives[#{index}][Images][#{i}][path]')
                            input(type='hidden', name="filename", value='actives[#{index}][Images][#{i}][path]')
                            input(type='hidden', name="width", value='545')
                            input(type='hidden', name="height", value='350')
                            input(type='hidden', name='actives[#{index}][Images][#{i}][path]', form='activesData', value='#{activity.Images[i].path}')
                        a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
                      // /fileinput-btn
                    // /fileinput
                    .form-group.m-left-0.m-right-0
                      .col-sm-9.col-md-9
                        input.form-control.urlInput(type='text', name='actives[#{index}][Images][#{i}][url]', form='activesData', placeholder='http://連結網址', value=activity.Images[i].url?activity.Images[i].url:'')
                      // /col-sm-9
                      .col-sm-3.col-md-3
                        .checkbox
                          label
                            input(type='checkbox', checked=activity.Images[i].openWindow, value='true', name='actives[#{index}][Images][#{i}][openWindow]', form='activesData')
                            |  另開視窗
                    // /form-group
                  // /col-xs-6
              // /row
          // /well

        when 'three'
          li.well.control-well.p-10-20.m-bottom-8.type4
            input(type='hidden', name='actives[#{index}][type]', value=activity.type, form='activesData')
            input(type='hidden', name='actives[#{index}][weight]',class='activityWeigth', form='activesData')
            .row
              .col-sm-6
                span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1
              // /col-sm-6
              .col-sm-6.text-right
                a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
                  span.glyphicon.glyphicon-remove
              // /col-sm-6
            // /row
            .form-horizontal
              .row.row-s.m-bottom-4
                - for (var i=0; i<3; i++)
                  - activity.Images[i] = activity.Images[i] || { url: "", path: "http://fakeimg.pl/360x240", openWindow: false};
                  .col-xs-4
                    .fileinput.fileinput-new.m-bottom-4(data-provides='fileinput')
                      .fileinput-new
                        img.img-full(src='#{activity.Images[i].path}')
                      // /fileinput-new
                      .fileinput-preview.fileinput-exists
                      // /fileinput-preview
                      .fileinput-btn
                        form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                          span.btn.btn-default.btn-sm.btn-file
                            span.fileinput-new Select image
                            span.fileinput-exists Change
                            input.fileInput(type='file', name='uploadfile', data-name='actives[#{index}][Images][#{i}][path]')
                            input(type='hidden', name="filename", value='actives[#{index}][Images][#{i}][path]')
                            input(type='hidden', name="width", value='360')
                            input(type='hidden', name="height", value='240')
                            input(type='hidden', name='actives[#{index}][Images][#{i}][path]', form='activesData', value='#{activity.Images[i].path}')
                        a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
                      // /fileinput-btn
                    // /fileinput
                    .form-group.m-left-0.m-right-0
                      .col-sm-12
                        input.form-control.urlInput(type='text', name='actives[#{index}][Images][#{i}][url]', form='activesData', placeholder='http://連結網址', value=activity.Images[i].url?activity.Images[i].url:'')
                      // /col-sm-12
                      .col-sm-12
                        .checkbox
                          label
                            input(type='checkbox', checked=activity.Images[i].openWindow, value='true', name='actives[#{index}][Images][#{i}][openWindow]', form='activesData')
                            |  另開視窗
                      // /col-sm-12
                    // /form-group
                  // /col-xs-4
    //
      modal-control-index-exclusive-type
      ==================================================
    #modal-delete.modal.fade
      .modal-dialog(role='document')
        .modal-content.font-size-slarge
          .modal-header.p-30
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h2.modal-title 刪除
          // /modal-header
          .modal-body.p-30.p-top-0
            p 您確定要將此 Section 刪除？
          // /modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') 取消
            button.btn.btn-green(type='button', data-dismiss='modal') 確定
          // /modal-footer
        // /modal-content
      // /modal-dialog
    #modal-control-index-exclusive-type.modal.fade
      .modal-dialog(role='document')
        .modal-content
          .modal-header.p-30
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h2.modal-title 精選活動規格
          // /modal-header
          .modal-body.p-30.p-top-0
            form
              .row.m-bottom-2
                .col-sm-6
                  .checkbox
                    label
                      input(type='checkbox', name='exclusive-type', value='1', checked='')
                      img.img-full(src='http://fakeimg.pl/1100x160/dddddd/FFF/?text=1100x160')
                // /col-sm-6
                .col-sm-6
                  .checkbox
                    label
                      input(type='checkbox', name='exclusive-type',, value='2')
                      img.img-full(src='http://fakeimg.pl/1100x350/dddddd/FFF/?text=1100x350')
                // /col-sm-6
                .col-sm-6
                  .checkbox
                    label
                      input(type='checkbox', name='exclusive-type', value='3')
                      .row.row-s
                        .col-xs-6
                          img.img-full(src='http://fakeimg.pl/545x350/dddddd/FFF/?text=545x350')
                        // /col-xs-6
                        .col-xs-6
                          img.img-full(src='http://fakeimg.pl/545x350/dddddd/FFF/?text=545x350')
                        // /col-xs-6
                      // /row
                // /col-sm-6
                .col-sm-6
                  .checkbox
                    label
                      input(type='checkbox', name='exclusive-type', value='4')
                      .row.row-s
                        .col-xs-4
                          img.img-full(src='http://fakeimg.pl/360x230/dddddd/FFF/?text=360x230')
                        // /col-xs-4
                        .col-xs-4
                          img.img-full(src='http://fakeimg.pl/360x230/dddddd/FFF/?text=360x230')
                        // /col-xs-4
                        .col-xs-4
                          img.img-full(src='http://fakeimg.pl/360x230/dddddd/FFF/?text=360x230')
                        // /col-xs-4
                      // /row
                // /col-sm-6
              // /row
          // /modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') 取消
            button.btn.btn-green(type='button', data-dismiss='modal') 確定
          // /modal-footer
        // /modal-content
      // /modal-dialog
    // /modal

block js
  script(src="/javascripts/admin/exclusive.js")
