extends ../_layout_auth

block body
  h2.m-bottom-6 商品上架
  form#goodForm(action='/admin/goods/update', method='POST')
    each product, i in good.Products
      input(type='hidden', name='good[#{i}][id]', value='#{product.id}')
    input(type='hidden', name='productGm[id]', value='#{good.ProductGm.id}')

    // 館別分類
    .well.control-well.p-30.m-left-2.m-bottom-8
      h3
        span.label.label-default.p-10-15 館別分類
      .form-horizontal.selectDpt
        .form-group
          label.col-md-2.control-label 品牌名稱
          .col-md-10
            label.radio-inline
              input#brandType(type='radio', name='brandType', value='origin', checked=true)

              select.form-control(name='brandId')
                option(value='') 選擇品牌
                each brand, index in brands
                  option(value='#{brand.id}', selected=brand.id == good.ProductGm.BrandId) #{brand.name}
            label.radio-inline
              input#brandType(type='radio', name='brandType', value='custom')
              input.form-control(type='text', name='customBrand', value='', placeholder='自訂品牌名稱')
            a.m-left-1(href='#', data-toggle='tooltip', title='品牌名稱自訂將會統一列入 Other 品牌區')
              span.glyphicon.glyphicon-info
        // /form-group
        each productGmDpt, i in good.ProductGm.Dpts
          .form-group
            label.col-md-2.control-label 館別分類
            .col-md-4
              select.form-control(name='dptId[]')
                option 選擇大館別
                each dpt in dpts
                  option(value='#{dpt.id}', selected=dpt.selected == productGmDpt.id) #{dpt.name}
            .col-md-4
              select.form-control(name='dptSubId[]')
                option(value='') 選擇小館別
                each dpt in dpts
                  if dpt.selected == productGmDpt.id
                    each dptSub in dpt.DptSubs
                      option(value='#{dptSub.id}', selected=dptSub.selected == productGmDpt.id) #{dptSub.name}
            .col-md-2
              a.btn-remove(href='#', disabled=true)
                span.glyphicon.glyphicon-remove
              a.btn-add(href='#')
                span.glyphicon.glyphicon-plus

        // /form-group
    // /well

    // 基本資訊
    .well.control-well.p-30.m-left-2.m-bottom-8
      h3
        span.label.label-default.p-10-15 基本資訊
      .form-horizontal
        .form-group
          label.col-md-2.control-label 商品名稱
          .col-md-10
            input.form-control(type='text', name='name', required='true', value=good.name?good.name:'')
        // /form-group
        .row
          .col-md-4
            .form-group
              label.col-md-6.control-label 建議售價
              .col-md-6
                input.form-control(type='number', name='price', required='true', value=good.Products[0].price?good.Products[0].price:'')

            // /form-group
          // /col-md-4
          .col-md-4
            .form-group
              label.col-md-6.control-label 品牌國別
              .col-md-6
                input.form-control(type='text', name='country', required='true', value=good.Products[0].country?good.Products[0].country:'')
            // /form-group
          // /col-md-4
          .col-md-4
            .form-group
              label.col-md-6.control-label 製造產地
              .col-md-6
                input.form-control(type='text', name='madeby', required='true', value=good.Products[0].madeby?good.Products[0].madeby:'')

            // /form-group
          // /col-md-4
        // /row
        .row
          .col-md-4
            .form-group
              label.col-md-6.control-label 產品材質
              .col-md-6
                input.form-control(type='text', name='spec', required='true', value=good.Products[0].spec?good.Products[0].spec:'')

            // /form-group
          // /col-md-4
          .col-md-8
            .form-group
              label.col-md-3.control-label 產品尺寸
              .col-md-9
                input.form-control(type='text', name='size', value=good.Products[0].size?good.Products[0].size:'')

            // /form-group
          // /col-md-8
        // /row
        .form-group
          label.col-md-2.control-label 服務項目
          .col-md-10
            label.checkbox-inline
              input#inlineCheckbox1(type='checkbox', name='service[]', value='express', checked=good.Products[0].service.indexOf('express') >= 0)

              |  快遞宅配
            label.checkbox-inline
              input#inlineCheckbox2(type='checkbox', name='service[]', value='store', checked=good.Products[0].service.indexOf('store') >= 0)

              |  超商取貨
            label.checkbox-inline(disabled='')
              input#inlineCheckbox4(type='checkbox', name='service[]', value='package', checked=good.Products[0].service.indexOf('package') >= 0)

              |  國際運送
            label.checkbox-inline
              input#inlineCheckbox4(type='checkbox', name='service[]', value='package', checked=good.Products[0].service.indexOf('package') >= 0)

              |  禮品包裝
        // /form-group
        .form-group
          label.col-md-2.control-label 商品備註
          .col-md-10
            input.form-control(type='text', name='comment', value=good.comment?good.comment:'')


        // /form-group
    // /well

  // 款式規格

  .well.control-well.p-30.m-left-2.m-bottom-8.font-size-base
    h3
      span.label.label-default.p-10-15 款式規格
    ol.form-horizontal.drag-container
      each product, i in good.Products
        li.row.row-s.border-bottom-1.m-bottom-4.productWeight
          .col-md-1.text-center
            span.glyphicon.glyphicon-menu.font-size-xlarge    
            input.weight(type='hidden', name='good[#{i}][weight]', value=product.weight, form='goodForm')
          // /col-md-1
          .col-md-3
            //
              fileinput-img
              ==================================================
            .fileinput.fileinput-new(data-provides='fileinput')
              .fileinput-new.fileinput-square
                img.img-full(src=product.photos[0] ? product.photos[0] : 'http://fakeimg.pl/1000x1000/dddddd/FFF/?text=1000x1000')
              // /fileinput-new
              .fileinput-preview.fileinput-exists.border-block-1
              // /fileinput-preview
              .fileinput-btn
                form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                  span.btn.btn-default.btn-sm.btn-file
                    span.fileinput-new Select image
                    span.fileinput-exists Change
                    input.fileInput(type='file', name="uploadfile", data-name='good[#{i}][photos-1]')
                    input(type='hidden', name="filename", value='good[#{i}][photos-1]')
                    input(type='hidden', name="width", value='1000')
                    input(type='hidden', name="height", value='1000')
                    input(type='hidden', name='good[#{i}][photos-1]', form='goodForm', value=product.photos[0]? product.photos[0] : '')
                  a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
                    // /fileinput-btn
                // /form
              // /fileinput
          // /col-md-3
          .col-md-3
            //
              fileinput-img
              ==================================================
            .fileinput.fileinput-new(data-provides='fileinput')
              .fileinput-new.fileinput-square
                img.img-full(src=product.photos[1] ? product.photos[1] : 'http://fakeimg.pl/1000x1000/dddddd/FFF/?text=1000x1000')
              // /fileinput-new
              .fileinput-preview.fileinput-exists.border-block-1
              // /fileinput-preview
              .fileinput-btn
                form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                  span.btn.btn-default.btn-sm.btn-file
                    span.fileinput-new Select image
                    span.fileinput-exists Change
                    input.fileInput(type='file', name="uploadfile", data-name='good[#{i}][photos-2]')
                    input(type='hidden', name="filename", value='good[#{i}][photos-2]')
                    input(type='hidden', name="width", value='1000')
                    input(type='hidden', name="height", value='1000')
                    input(type='hidden', name='good[#{i}][photos-2]', form='goodForm', value=product.photos[1] ? product.photos[1] : '')
                  a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
                // /form
              // /fileinput-btn
            // /fileinput
          // /col-md-3
          .col-md-1
            a.tooltip-icon(href='#', data-toggle='tooltip', title='商品圖長寬 1000x1000 像素，限 JPG/GIF 格式，檔案大小 500KB 以下')
              span.glyphicon.glyphicon-info
          .col-md-3
            .form-group.form-group-sm
              label.col-sm-3.control-label 顏色
              .col-sm-9
                .btn-group
                  - var color = {1: "red", 2 : "orange", 3: "yellow", 4: "green", 5 : "blue", 6: "purple", 7: "deeppink", 8: "pink", 9: "black", 10: "gray", 11: "graylight", 12: "gold", 13: "brown", 14: "mix"};
                  a.color-filter.dropdown(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', class="color-#{color[product.color]}")
                  ul.dropdown-menu.dropdown-color
                    li.p-15
                      a.color-filter.color-red(href='#', data-value='1')
                      a.color-filter.color-orange(href='#', data-value='2')
                      a.color-filter.color-yellow(href='#', data-value='3')
                      a.color-filter.color-green(href='#', data-value='4')
                      a.color-filter.color-blue(href='#', data-value='5')
                      a.color-filter.color-purple(href='#', data-value='6')
                      a.color-filter.color-deeppink(href='#', data-value='7')
                      a.color-filter.color-pink(href='#', data-value='8')
                      a.color-filter.color-black(href='#', data-value='9')
                      a.color-filter.color-gray(href='#', data-value='10')
                      a.color-filter.color-graylight(href='#', data-value='11')
                      a.color-filter.color-gold(href='#', data-value='12')
                      a.color-filter.color-brown(href='#', data-value='13')
                      a.color-filter.color-mix(href='#', data-value='14')
                  input(type='hidden', name="good[#{i}][color]", value='#{product.color}', form='goodForm')
                  // /dropdown-menu
                // /btn-group
            // /form-group
            .form-group.form-group-sm
              label.col-sm-3.control-label 款式
              .col-sm-9
                input.form-control(type='text', name="good[#{i}][name]", value=product.name?product.name:'', form='goodForm')
            // /form-group
            .form-group.form-group-sm
              label.col-sm-3.control-label 貨號
              .col-sm-9
                input.form-control(type='text', name="good[#{i}][productNumber]", value=product.productNumber?product.productNumber:'', form='goodForm')
            // /form-group
            .form-group.form-group-sm
              label.col-sm-3.control-label 數量
              .col-sm-9
                .input-group.input-group-count.input-group-sm.max-width-100
                  span.input-group-btn
                    button.btn.btn-default.btn-number(type='button', disabled='disabled', data-type='minus', data-field='quant[1]')
                      span.glyphicon.glyphicon-minus
                  // /input-group-btn
                  input.form-control.input-number.text-center(type='text', name="good[#{i}][stockQuantity]", min='1', max='999', form='goodForm' , value=product.stockQuantity?product.stockQuantity:'')
                  span.input-group-btn
                    button.btn.btn-default.btn-number(type='button', data-type='plus', data-field='quant[1]')
                      span.glyphicon.glyphicon-plus
                  // /input-group-btn
                // /input-group
            // /form-group
            .form-group.form-group-sm
              label.col-sm-3.control-label 狀態
              .col-sm-9
                .btn-group.btn-group-switch(data-toggle='buttons')
                  label.btn-status.btn.btn-default.btn-hide.btn-sm(class=(!product.isPublish) ? "active": "")
                    input#option1(type='radio', name="good[#{i}][isPublish]", value='false', autocomplete='off', checked=(product.isPublish == 0) ? "true": undefined, form='goodForm')
                    span.btn-text 隱藏
                  label.btn-status.btn.btn-default.btn-sm(class=(product.isPublish) ? "active": "")
                    input#option2(type='radio', name="good[#{i}][isPublish]", value='true', autocomplete='off', checked=(product.isPublish == 1) ? "true": undefined form='goodForm')
                    span.btn-text 上架
                // /btn-group-switch
            // /form-group
          // /col-md-4
          .col-md-1.text-right
            //- if(i == 0)
            a.btn-remove(href='#')
              span.glyphicon.glyphicon-remove
            if(i == good.Products.length-1)
              a.btn-add(href='#', type='')
                span.glyphicon.glyphicon-plus
            //- else
            //-   a.btn-add(href='#', style='visibility:hidden')
            //-     span.glyphicon.glyphicon-plus
          // /col-md-1
  // /well

  // 圖片上傳
  .well.control-well.p-30.m-left-2.m-bottom-8
    h3
      span.label.label-default.p-10-15 圖片上傳
    .row.row-m
      // /col-md-4
      - var coverPhotoLength = good.ProductGm.coverPhoto.length;
      - var coverPhotos = coverPhotoLength > 0 ? good.ProductGm.coverPhoto : [];
      - for (var i=0; i <= coverPhotoLength; i++)

        .col-md-4
          .edit-block.m-bottom-4
            // fileinput-img
            .fileinput.fileinput-new(data-provides='fileinput')
              .fileinput-new.fileinput-square
                img.img-full(src=coverPhotos[i] ? coverPhotos[i] : 'http://fakeimg.pl/1000x1000/dddddd/FFF/?text=1000x1000')
              // /fileinput-new
              .fileinput-preview.fileinput-exists.border-block-1
              // /fileinput-preview
              .fileinput-btn
                form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                  span.btn.btn-default.btn-sm.btn-file
                    span.fileinput-new Select image
                    span.fileinput-exists Change
                    input.fileInput(type='file', name="uploadfile", data-name='coverPhoto[]')
                    input(type='hidden', name="filename", value='coverPhoto[]')
                    input(type='hidden', name="width", value='1000')
                    input(type='hidden', name="height", value='1000')
                    input(type='hidden', name='coverPhoto[]', form='goodForm', value=coverPhotos[i] ? coverPhotos[i] : '')
                  a.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
                // /form
              // /fileinput-btn
            // /fileinput
            a.btn-remove(href='#')
              span.glyphicon.glyphicon-remove
            - if (i == coverPhotoLength)
              a.btn-add(href='#')
                span.glyphicon.glyphicon-plus
          // /edit-block
        // /col-md-4


    // /row
    a(href='#', data-toggle='tooltip', title='商品圖長寬 1000x1000 像素，限 JPG/GIF 格式，檔案大小 500KB 以下')
      span.glyphicon.glyphicon-info
  // /well

  // 商品文案
  .well.control-well.p-30.m-left-2.m-bottom-8
    h3
      span.label.label-default.p-10-15 商品文案
    ul.nav.nav-pills.nav-btn.m-bottom-2
      li.active
        a(href='#tab-1', data-toggle='tab') 商品介紹
      li
        a(href='#tab-2', data-toggle='tab') 注意事項
    // /nav
    .tab-content
      #tab-1.tab-pane.fade.in.active
        textarea#editor1.form-control(rows='6', placeholder='請輸入商品介紹', value='#{good.ProductGm.explain}', name='explain', form='goodForm') #{good.ProductGm.explain}
      // /tab-pane
      #tab-2.tab-pane.fade
        textarea#editor2.form-control(rows='6', placeholder='請輸入注意事項', value='#{good.ProductGm.notice}', name='notice', form='goodForm') #{good.ProductGm.notice}
      // /tab-pane
    // /tab-content
  // /well

  // 商品標籤
  .well.control-well.p-30.m-left-2.m-bottom-8
    h3
      span.label.label-default.p-10-15 商品標籤
    .form-group
      input(type='text', data-role='tagsinput', value=good.ProductGm.tag, placeholder='新增標籤請用逗號隔開或按 Enter 新增', name='tag', form='goodForm')
      //- .tagsinput.form-control
      //-   span.tag.label.label-default
      //-     | 咖啡
      //-     span(data-role='remove') ×
      //-   span.tag.label.label-default
      //-     | 午茶
      //-     span(data-role='remove') ×
      //-   input(type='text', placeholder='新增標籤請用逗號隔開或按 Enter 新增', style='width: 21em !important;')
      p.form-control-static 或從下方選擇預設標籤：
      each tag, index in tags
        a(href='#', data-id='#{tag.id}')
          span.tag.label.label-default #{tag.name}
    // /form-group
  // /well
    
  //
  .text-center.m-bottom-6
    a.btn.btn-link.delete-link.btn-lg( data-toggle='modal', data-target='#modal-delete') 刪除此商品及所有品項
    input.btn.btn-green.btn-lg(type='submit', value='確認送出', form='goodForm')
  // /text-center
    
  // 刪除商品確認
  #modal-delete.modal.fade
    .modal-dialog(role='document')
      .modal-content.font-size-slarge
        .modal-header.p-30
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h2.modal-title 刪除
        // /modal-header
        .modal-body.p-30.p-top-0
          p 您確定要將此商品及所有品項刪除？
        // /modal-body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          form#goodDelete(action='/admin/goods/delete', method='POST', name='goodDelete')
            input(type='hidden', name='id', value='#{good.ProductGm.id}')
            button.btn.btn-green.btn.delete(type='submit', form='goodDelete') 確認
        // /modal-footer
      // /modal-content
    // /modal-dialog


block js
  script.
    window.DPTS= !{JSON.stringify(dpts)};
  script(src='/javascripts/admin/goodCreate.js')
