extends ../_layout_auth
include ../mixins/pagination

block body
  h2.m-bottom-6 商品列表
  .well.control-well.p-30.m-bottom-8
    form#goodQuery.form-horizontal.with-pagination(name="searchProducts", action="/admin/goods", method="get")
      
      +pagination-fields(page, limit)
    
      .row.row-m
        .col-md-4
          .form-group
            label.col-md-4.control-label #{i18n('brand-name')}
            .col-md-8
              select.form-control(name = "brandId", data-value=query.brandId)
                option(value=-1) 所有品牌
                each brand, index in brands
                  option(value='#{brand.id}') #{brand.name}
          // /form-group
        // /col-md-4
        .col-md-4
          .form-group
            label.col-md-4.control-label #{i18n('categories')}
            .col-md-8
              input.form-control(type='text', name='tag', value=query.tag? query.tag: '')
          // /form-group
        // /col-md-4
        .col-md-4
          .form-group
            label.col-md-4.control-label 大館別
            .col-md-8
              select.form-control(name='dptId', data-value=query.dptId, data-dpts=dpts, form='goodQuery')
                option(value=-1) 所有館別
                each dpt, index in dpts
                  option(value='#{dpt.id}') #{dpt.name}
          // /form-group
        // /col-md-4
      // /row
      .row.row-m
        .col-md-4
          .form-group
            label.col-md-4.control-label #{i18n('product-name')}
            .col-md-8
              input.form-control(type='text', name='name', value = query.name?query.name: '')
          // /form-group
        // /col-md-4
        .col-md-4
          .form-group
            label.col-md-4.control-label #{i18n('product-number')}
            .col-md-8
              input.form-control(type='text', name='productNumber', value = query.productNumber?query.productNumber: '')
          // /form-group
        // /col-md-4
        .col-md-4
          .form-group
            label.col-md-4.control-label 小館別
            .col-md-8
              select.form-control(name='dptSubId', data-value=query.dptSubId)
                option(value=-1) 所有館別
                each dptSub, index in dpts[query.dptId>1?query.dptId-1:1].DptSubs
                  option(value='#{dptSub.id}') #{dptSub.name}
          // /form-group
        // /col-md-4
      // /row
      .row.row-m
        .col-md-4
          .form-group
            label.col-md-4.control-label #{i18n('commodity-prices')}
            .col-md-8
              input.form-control(type='text', name='price', value = query.price?query.price: '')
          // /form-group
        // /col-md-4
        .col-md-4
          .form-group
            label.col-md-4.control-label #{i18n('current-inventory')}
            .col-md-3.p-right-0
              input.form-control(type='number', name='stockQuantityStart', value = query.stockQuantityStart?query.stockQuantityStart: '')
            .col-md-2.p-left-0.p-right-0.text-center
              p.form-control-static #{i18n('to')}
            .col-md-3.p-left-0
              input.form-control(type='number', name='stockQuantityEnd', value = query.stockQuantityEnd?query.stockQuantityEnd: '')
          // /form-group
        // /col-md-4
      // /row
      .row.row-m
        .col-md-4
          .form-group
            label.col-md-4.control-label #{i18n('trafficking-in-state')}
            .col-md-8
              select.form-control(name="isPublish", data-value=(query.isPublish!='')?query.isPublish: '')
                option(value='') 所有狀態
                option(value='false') 隱藏
                option(value='true') 上架
          // /form-group
        // /col-md-4
        .col-md-8
          .form-group
            label.col-md-2.control-label #{i18n('filing-date')}
            .col-md-4
              input.form-control(type='date', name='dateFrom', value=query.dateFrom?query.dateFrom:null)
            .col-md-2.text-center
              p.form-control-static #{i18n('to')}
            .col-md-4
              input.form-control(type='date', name='dateEnd', value=query.dateEnd?query.dateEnd:null)
          // /form-group
        // /col-md-7
        .col-md-12.text-right
          a.btn.btn-primary(onClick='$("form[name=\'searchProducts\']").submit()') 查詢
        // /col-md-12
      // /row
    // /form-horizontal
  // /well
  .row
    .col-md-6
      form.form-inline
        .form-group
          label 顯示
          +pagination-limit
          label 筆資料（共 #{totalRows} 筆）
    .col-md-6.desktop-text-right
      a.btn.btn-green(href='#', id='btnSave') 儲存變更
    // /col-md-6
  // /row
  hr.dashed-line
  table.table.table-striped
    thead
      tr
        th 主圖
        th
          | 商品名稱
          span.caret
        th.width-12
          | 售價
          span.caret
        th.width-120
          | 貨號
          span.caret
        th.width-120
          | 建檔日期
          span.caret
        th.width-120
          | 狀態
          span.caret
        th.width-120
          | 目前庫存
          span.caret
        th
    tbody
      if (Object.keys(products).length == 0)
        script.
          alert('找不到符合的商品')
      each product in products
        //- - try { var photo = JSON.parse(product.photos) } catch (e){ var photo = []; };
        tr
          td
            img.width-6(src=product.photos[0])
          - var name = (product.name && product.name.length > 0) ? "(" + product.name + ")" : "";
          td #{product.ProductGm.name} #{name}
          td #{product.price}
          td #{product.productNumber}
          td #{product.createdAt}
          td
            .btn-group.btn-group-switch(data-toggle='buttons', id='#{product.id}')
              label.btn.btn-default.btn-hide.btn-sm(class=!product.isPublish ? "active" : "")
                input#option-unpublish(type='radio', name='options', autocomplete='off', checked=product.isPublish?'checked':undefined, value='0')
                span.btn-text 隱藏
              label.btn.btn-default.btn-sm(class=product.isPublish ? "active" : "")
                input#option-publish(type='radio', name='options', autocomplete='off', checked=product.isPublish?'checked':undefined, value='1')
                span.btn-text 上架

            // /btn-group-switch
          td #{product.stockQuantity}
            //- .input-group.input-group-count.input-group-sm.max-width-100
            //-   span.input-group-btn
            //-     button.btn.btn-default.btn-number(type='button', disabled='disabled', data-type='minus', data-field='quant[1]')
            //-       span.glyphicon.glyphicon-minus
              // /input-group-btn
              //- input.form-control.input-number.text-center(type='text', name='quant[#{product.id}]', value='#{product.stockQuantity}', min='1', max='999')
              //- span.input-group-btn
              //-   button.btn.btn-default.btn-number(type='button', data-type='plus', data-field='quant[#{product.id}]')
              //-     span.glyphicon.glyphicon-plus
              // /input-group-btn
            // /input-group
          td.text-right
            a.btn.btn-link(href='/admin/goods/update?id=#{product.ProductGmId}')
              span.glyphicon.glyphicon-pencil2
  hr.dashed-line
  +pagination-simple-pager(page, totalPages)
        
  //- nav.text-center
  //-   ul.pagination
  //-     li.disabled
  //-       a(href='#', aria-label='Previous')
  //-         span(aria-hidden='true') &laquo;
  //-     li.active
  //-       a(href='#')
  //-         | 1
  //-         span.sr-only (current)
  //-     li
  //-       a(href='#') 2
  //-     li
  //-       a(href='#') 3
  //-     li
  //-       a(href='#') 4
  //-     li
  //-       a(href='#', aria-label='Next')
  //-         span(aria-hidden='true') &raquo;
        
  //- .text-center
  //-   //
  //-     pagination-block
  //-     ==================================================
  //-   ul.list-inline.m-bottom-0.m-top-1
  //-     li.border-right-1.p-right-2
  //-       a(href='#') 上一頁
  //-     li.border-right-1.p-right-2 第 15 之 20
  //-     li
  //-       a(href='#') 下一頁
  // /text-center

block js
  script(src='/javascripts/admin/goodList.js')
  script(src='/javascripts/common/pagination.js')
