doctype html
each order in orders
  html
    head
      meta(charset='utf-8')
      title i+DEAL 創而有意 | 好物慢慢選
      // Mobile device set
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      // Fav and touch icons
      link(rel='shortcut icon', href='images/ico/favicon.ico')
      // Style
      link(href='stylesheets/bootstrap.css', media='screen', rel='stylesheet', type='text/css')
      link(href='stylesheets/bootstrap.css', media='print', rel='stylesheet', type='text/css')
    body.control-order-print
      .container.font-size-slarge.p-top-8.p-bottom-8
        .text-center.m-bottom-8
          img.m-bottom-4(src='images/logo.png')
          h3 創而有意商品明細表
        // /text-center
        .m-bottom-4
          p 親愛的 #{order.User.username}，您好：
          p
            | 感謝您在 i+DEAL 創而有意訂購商品！為保障您的權益，請您收到商品的同時，依照商品明細表清點內容物！若有短缺、規格不符或瑕疵之情形，煩請您儘速於收到商品後 3 天內與客服人員聯絡，以保障您退換貨權益。
        // /m-bottom-4
        table.table.table-bordered
          tbody
            tr
              td(colspan='2')
                | 訂單編號：
                b #{order.serialNumber}
                span.pull-right
                  | 訂購日期：
                  b #{sails.moment(order.createdAt.format).format('YYYY/MM/DD')}
            tr
              td
                p.line-height-large.m-bottom-0
                  | 購買人：#{order.User.username} 先生/小姐
                  br
                  | 							購買人電話：#{order.User.mobile}
                  br
                  | 							收件人：#{order.Shipment.username}
                  if  order.Invoice.type == 'triplex'
                    br
                    |               購買人電話：#{order.User.mobile}
                    br
                    |               收件人地址：#{order.Shipment.address}
              td
                p.line-height-large.m-bottom-0
                  | 運送方式：#{i18n(order.Shipment.shippingType)} 
                  br
                  | 							發票類型：#{i18n(order.Invoice.type)}
                  if  order.Invoice.type == 'triplex'
                    br
                    | 抬頭：威伯國際有限公司 / 統編：#{order.Invoice.taxId}
                  br
                  | 							付款方式：#{order.allPayPaymentType}
                  if  order.Invoice.type == 'triplex'
                    br
                    | 繳費代碼：251563222267
            if  order.Invoice.type == 'triplex'
              tr
                td(colspan='2')
                  | 買家備註：1.管理員代收 2.禮品的包裝外盒請除去價格標籤        
            tr
              td(colspan='2')
                table.table.no-border
                  tbody
                    - var totalItemSum = 0;
                    each item in order.OrderItems
                      tr
                        td #{item.Product.productNumber}
                        td #{item.name}
                        td.text-right #{item.quantity}
                        - totalItemSum += item.quantity;
            tr
              td.text-right(colspan='2')
                | 商品總數：#{totalItemSum}
        table.table.no-border.m-bottom-10
          tbody
            tr
              td
                .p-30
                  p 注意事項：
                  p
                    | 敬請核對您所訂購的商品，若商品不符或短缺，請至本網www.iplusdeal.com「聯絡我們」通知協助處理，或聯絡線上客服：04-23782800
                  p 退貨需知及流程：
                  p
                    | 根據消保法規定，網購顧客享有七日鑑賞期，如有新品瑕疵問題，可無條件辦理退換貨服務。退換之商品及其外包裝，需保持全新無受損。
                // /p-30
              td
                .p-30
                  p 退貨須知:
                  p 1.辦理退換貨請將商品、贈品、發票及訂單明細置入原紙箱內，並保持商品包裝完整，若有毀損恕不受理退換貨。
                  p 2.宅配員將與您聯繫取貨時間，請主動索取單據，並保留至手續完成。
                  p 3.本站收到貨品後，將email通知退換貨及退款時間，敬請留意。
                  p
                    ※ 防詐騙：本公司不會以電話通知更改付款方式或指示操作ATM。
                // /p-30
        p
          | 創而有意服務專線：04-23782800
          br
          span.font-size-small © WEVO INTERNATIONAL CO.,LTD.
      // /container
