extends ../_layout_auth

block body
  h2.m-bottom-6 主題活動
  //- a.btn.btn-danger.btn-lg.m-bottom-2(href='#') 建立主題
  hr.dashed-line
  form#ActivitiesData(action='/admin/topicActivities', method='POST')
    .form-group
      - var title = activities[0].title? activities[0].title : ''
      input#topicTitle.form-control(type='text', placeholder='請輸入主題活動標題', name='title', value='#{title}', required="required")
      // /form-group
    ul.imageSection
      if activities.length>0 
        each activity, index in activities
          li.well.control-well.p-10-20.m-bottom-4.imageSection
            .row
              .col-sm-6
                span.glyphicon.glyphicon-menu.font-size-xlarge.m-top-1 
                input.weight(type='hidden', name='activities[#{index}][weight]', value=activity.weight)
                input.topicTitle(type='hidden', name='activities[#{index}][title]', value='#{activity.title}')
              // /col-sm-6
              .col-sm-6.text-right
                a.btn.btn-link.delete-link(href='#', data-toggle='modal', data-target='#modal-delete')
                  span.glyphicon.glyphicon-remove
              // /col-sm-6
            // /row
            .row.m-bottom-4
              .col-sm-4
                .row.row-m
                  .col-xs-12
                    .m-bottom-4
                      //
                        control-index-theme-block
                        ==================================================
                      .fileinput-square.bg-white.text-center.image-exist
                        a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="1")
                          img(src='#{activity.ImageA.path}', border=0, width=281.656, height=285.656)  
                          input(type='hidden', name='activities[#{index}][ImageA][path]', data-content="path", value="#{activity.ImageA.path}")
                          input(type='hidden', name='activities[#{index}][ImageA][url]', data-content="url", value="#{activity.ImageA.url}")
                          input(type='hidden', name='activities[#{index}][ImageA][openWindow]', data-content='openWindow', value="#{activity.ImageA.openWindow}")
                          span.glyphicon.glyphicon-plus.font-size-xxxxlarge
                      // /fileinput-square
                    // m-bottom-4
                  // /col-xs-12
                  .col-xs-6
                    .m-bottom-4
                      //
                        control-index-theme-block
                        ==================================================
                      .fileinput-square.bg-white.text-center.image-exist
                        a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="2")
                          img(src='#{activity.ImageA1.path}', border=0, width=130.828, height=134.828)  
                          input(type='hidden', name='activities[#{index}][ImageA1][path]', data-content="path", value="#{activity.ImageA1.path}")
                          input(type='hidden', name='activities[#{index}][ImageA1][url]', data-content="url", value="#{activity.ImageA1.url}")
                          input(type='hidden', name='activities[#{index}][ImageA1][openWindow]', data-content='openWindow', value="#{activity.ImageA1.openWindow}")
                          span.glyphicon.glyphicon-plus.font-size-xxxxlarge
                      // /fileinput-square
                    // m-bottom-4
                  // /col-xs-6
                  .col-xs-6
                    .m-bottom-4
                      //
                        control-index-theme-block
                        ==================================================
                      .fileinput-square.bg-white.text-center.image-exist
                        a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="3")
                          img(src='#{activity.ImageA2.path}', border=0, width=130.828, height=134.828)  
                          input(type='hidden', name='activities[#{index}][ImageA2][path]', data-content="path", value="#{activity.ImageA2.path}")
                          input(type='hidden', name='activities[#{index}][ImageA2][url]', data-content="url", value="#{activity.ImageA2.url}")
                          input(type='hidden', name='activities[#{index}][ImageA2][openWindow]', data-content='openWindow', value="#{activity.ImageA2.openWindow}")
                          span.glyphicon.glyphicon-plus.font-size-xxxxlarge
                      // /fileinput-square
                    // m-bottom-4
                  // /col-xs-6
                // /row
              // /col-sm-4
              .col-sm-4
                .row.row-m
                  .col-xs-6
                    .m-bottom-4
                      //
                        control-index-theme-block
                        ==================================================
                      .fileinput-square.bg-white.text-center.image-exist
                        a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="4")
                          img(src='#{activity.ImageB1.path}', border=0, width=130.828, height=134.828)  
                          input(type='hidden', name='activities[#{index}][ImageB1][path]', data-content="path", value="#{activity.ImageB1.path}")
                          input(type='hidden', name='activities[#{index}][ImageB1][url]', data-content="url", value="#{activity.ImageB1.url}")
                          input(type='hidden', name='activities[#{index}][ImageB1][openWindow]', data-content='openWindow', value="#{activity.ImageB1.openWindow}")
                          span.glyphicon.glyphicon-plus.font-size-xxxxlarge
                      // /fileinput-square
                    // m-bottom-4
                  // /col-xs-6
                  .col-xs-6
                    .m-bottom-4
                      //
                        control-index-theme-block
                        ==================================================
                      .fileinput-square.bg-white.text-center.image-exist
                        a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="5")
                          img(src='#{activity.ImageB2.path}', border=0, width=130.828, height=134.828)  
                          input(type='hidden', name='activities[#{index}][ImageB2][path]', data-content="path", value="#{activity.ImageB2.path}")
                          input(type='hidden', name='activities[#{index}][ImageB2][url]', data-content="url", value="#{activity.ImageB2.url}")
                          input(type='hidden', name='activities[#{index}][ImageB2][openWindow]', data-content='openWindow', value="#{activity.ImageB2.openWindow}")
                          span.glyphicon.glyphicon-plus.font-size-xxxxlarge
                      // /fileinput-square
                    // m-bottom-4
                  // /col-xs-6
                  .col-xs-12
                    .m-bottom-4
                      //
                        control-index-theme-block
                        ==================================================
                      .fileinput-square.bg-white.text-center.image-exist
                        a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="6")
                          img(src='#{activity.ImageB.path}', border=0, width=281.656, height=285.656)  
                          input(type='hidden', name='activities[#{index}][ImageB][path]', data-content="path", value="#{activity.ImageB.path}")
                          input(type='hidden', name='activities[#{index}][ImageB][url]', data-content="url", value="#{activity.ImageB.url}")
                          input(type='hidden', name='activities[#{index}][ImageB][openWindow]', data-content='openWindow', value="#{activity.ImageB.openWindow}")
                          span.glyphicon.glyphicon-plus.font-size-xxxxlarge
                      // /fileinput-square
                    // m-bottom-4
                  // /col-xs-12
                // /row
              // /col-sm-4
              .col-sm-4
                .row.row-m
                  .col-xs-12
                    .m-bottom-4
                      //
                        control-index-theme-block
                        ==================================================
                      .fileinput-square.bg-white.text-center.image-exist
                        a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="7")
                          img(src='#{activity.ImageC.path}', border=0, width=281.656, height=285.656)  
                          input(type='hidden', name='activities[#{index}][ImageC][path]', data-content="path", value="#{activity.ImageC.path}")
                          input(type='hidden', name='activities[#{index}][ImageC][url]', data-content="url", value="#{activity.ImageC.url}")
                          input(type='hidden', name='activities[#{index}][ImageC][openWindow]', data-content='openWindow', value="#{activity.ImageC.openWindow}")
                          span.glyphicon.glyphicon-plus.font-size-xxxxlarge
                      // /fileinput-square
                    // m-bottom-4
                  // /col-xs-12
                  .col-xs-6
                    .m-bottom-4
                      //
                        control-index-theme-block
                        ==================================================
                      .fileinput-square.bg-white.text-center.image-exist
                        a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="8")
                          img(src='#{activity.ImageC1.path}', border=0, width=130.828, height=134.828)  
                          input(type='hidden', name='activities[#{index}][ImageC1][path]', data-content="path", value="#{activity.ImageC1.path}")
                          input(type='hidden', name='activities[#{index}][ImageC1][url]', data-content="url", value="#{activity.ImageC1.url}")
                          input(type='hidden', name='activities[#{index}][ImageC1][openWindow]', data-content='openWindow', value="#{activity.ImageC1.openWindow}")
                          span.glyphicon.glyphicon-plus.font-size-xxxxlarge
                      // /fileinput-square
                    // m-bottom-4
                  // /col-xs-6
                  .col-xs-6
                    .m-bottom-4
                      //
                        control-index-theme-block
                        ==================================================
                      .fileinput-square.bg-white.text-center.image-exist
                        a(href='#', data-toggle='modal', data-target='#modal-control-index-theme', data-id="9")
                          img(src='#{activity.ImageC2.path}', border=0, width=130.828, height=134.828)  
                          input(type='hidden', name='activities[#{index}][ImageC2][path]', data-content="path", value="#{activity.ImageC2.path}")
                          input(type='hidden', name='activities[#{index}][ImageC2][url]', data-content="url", value="#{activity.ImageC2.url}")
                          input(type='hidden', name='activities[#{index}][ImageC2][openWindow]', data-content='openWindow', value="#{activity.ImageC2.openWindow}")
                          span.glyphicon.glyphicon-plus.font-size-xxxxlarge
                      // /fileinput-square
                    // m-bottom-4
                  // /col-xs-6
                // /row
              // /col-sm-4
            // /row
          // /well
      else
        include ../partials/_topicActive_imageSection
  // / modal
  button.btn.btn-add.btn-default(type='button') 新增圖片區塊
  hr.dashed-line
  .text-center.m-bottom-6.m-top-6
    a.btn.btn-link.delete-link.btn-lg(href='#', data-toggle='modal', data-target='#modal-delete') 刪除主題活動
    input.btn.btn-green.btn-lg(type='submit', form='ActivitiesData', value='儲存變更')
  // /text-center

  #modal-delete.modal.fade
    .modal-dialog(role='document')
      .modal-content.font-size-slarge
        .modal-header.p-30
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h2.modal-title 刪除
        // /modal-header
        .modal-body.p-30.p-top-0
          p 您確定要將此 Section 刪除？
        // /modal-body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button.btn.btn-green(type='button', data-dismiss='modal') 確定
        // /modal-footer
      // /modal-content
    // /modal-dialog

  //
    modal-control-index-theme
    ==================================================
  #modal-control-index-theme.modal.fade
    .modal-dialog(role='document')
      .modal-content.font-size-slarge
        .modal-header.p-30
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h2.modal-title 加入商品或圖片及鏈接
        // /modal-header
        .modal-body.p-30.p-top-0
          .form-group
            .radio
              label
                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='checked')
                |                 輸入商品網址
            // /radio
            input.form-control#productUrl1(type='url', placeholder='http://')
          // /form-group
          hr
          .form-group
            .radio
              label
                input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                |                 上傳圖片及輸入鏈接網址
            // /radio
            .row.m-bottom-2
              .col-md-6
                //
                  fileinput-img-square
                  ==================================================
                .fileinput.fileinput-new(data-provides='fileinput')
                  .fileinput-new.dashed-block-2.fileinput-square
                  // /fileinput-new
                  .fileinput-preview.fileinput-exists.border-block-1
                  // /fileinput-preview
                  .fileinput-btn
                    form(action="/admin/image/upload", method="POST", enctype="multipart/form-data")
                      span.btn.btn-default.btn-sm.btn-file
                        span.fileinput-new Select image
                        span.fileinput-exists Change
                        input#inputUploadFile(type='file', name='uploadfile')
                        input#uploadFileName(type='hidden', name="filename", value='modalFileInput')
                        input#fileInputPath(type='hidden', name='modalFileInput')
                        input#fileInputWidth(type='hidden', name="width", value='500')
                        input#fileInputHeight(type='hidden', name="height", value='500')
                      a#fileInputResetButton.btn.btn-default.btn-sm.fileinput-exists(href='#', data-dismiss='fileinput') Remove
                  // /fileinput-btn
                // /fileinput
              // /col-md-6
            // /row
            input.form-control#productUrl2(type='url', placeholder='http://')
            .checkbox
              label
                input#openWindow(type='checkbox', value='true')
                |  另開視窗
          // /form-group
        // /modal-body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button#modalConfirmButton.btn.btn-green(type='button', data-dismiss='modal') 確定
        // /modal-footer
      // /modal-content
    // /modal-dialog
  // /modal
  
  // /sample
  #imageSectionSample.hidden-section
    include ../partials/_topicActive_imageSection


block js
  script(src="/javascripts/admin/themeActivities.js")






    
