doctype html
html
  head
    meta(charset='utf-8')
    | &#x9;
    title Platform - #{company.name}
    // Mobile device set
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Fav and touch icons
    link(rel='shortcut icon', href='#{company.avatar}')
    // Style
    link(href='/stylesheets/bootstrap.css', media='screen', rel='stylesheet', type='text/css')
    | &#x9;
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    | &#x9;
    link(href='http://fonts.googleapis.com/css?family=PT+Serif:400,700', rel='stylesheet', type='text/css')
    | &#x9;
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      | &#x9;
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    | &#x9;
  body
    .loader
    | &#x9;
    a#scrolltotop
      span.glyphicon.glyphicon-menu-up
    //
      Navbar
      ==================================================
    nav#header-default.navbar.navbar-default.navbar-fixed-top.cbp-af-header
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='offcanvas', data-target='.navmenu', data-canvas='body')
            span.icon-bar
            |         
            span.icon-bar
            |         
            span.icon-bar
          |       
          a.navbar-brand(href='/', style='background-image: url(#{company.avatar})') #{company.name}
        // /navbar-header
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right(aria-multiselectable='true')
            li
              a.width-11.text-center(data-toggle='collapse', aria-expanded='true', href='#dropdown-menu-brands')
                span.text-en BRANDS
                |             
                span.text-active #{i18n('brands')}
              |           
              #dropdown-menu-brands.dropdown-menu-full.collapse
                .container.p-top-4.p-bottom-4
                  //
                    dropdown-menu-brands
                    ==================================================
                  .clearfix.m-bottom-2.text-left
                    h4.text-gray-darker.m-bottom-4 代理品牌
                    |   
                    ul.list-inline.list-brand
                      each brand, idx in brands
                        - if (brand.type === 'AGENT')
                          li
                            a(href='/brands/#{brand.id}')
                              img.border-block-1.img-full(src='#{brand.avatar}')
                          |     
                  // /clearfix
                  .clearfix.m-bottom-2
                    h4.text-gray-darker.m-bottom-4 精選品牌
                    |   
                    ul.list-inline.list-brand

                      each brand, idx in brands
                        - if (brand.type === 'PRIME_GOOD')
                          li
                            a(href='/brands/#{brand.id}')
                              img.border-block-1.img-full(src='#{brand.avatar}')
                          |     
                  // /clearfix
                // /container
              // /dropdown-menu
            |         
            //- li
            //-   a.width-10.text-center(href='http://blog.XXXXXX.com/')
            //-     span.text-en BLOG
            //-     |             
            //-     span.text-active 生活誌
            //- |   
            li
              a.width-10.text-center(href='/shop/products')
                span.text-en SHOP
                |             
                span.text-active #{i18n('shop')}
            - if (user)
              |         
              li.dropdown
                a.dropdown-toggle.width-11.text-center(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  span.text-en ACCOUNT
                  |             
                  span.text-active 會員中心
                |           
                ul.dropdown-menu.dropdown-menu-right.dropdown-menu-noborder
                  li
                    a(href='/member/favorite') 我的收藏
                  |             
                  li
                    a(href='/member/purchase') 我的訂單記錄
                  |             
                  li
                    a(href='/member/setting') 修改會員資料
                  |             
                  li.divider(role='separator')
                  |             
                  li
                    a(href='/logout') 登出
            - if ( ! user)
              |         
              li
                a.width-12.text-center(href='#', data-toggle='modal', data-target='#modal-login')
                  span.glyphicon.glyphicon-user.font-size-slarge
                  |             
                  span.text-en LOGIN
                  |             
                  span.text-active 登入
            - if (true || user)
              |         
              li.dropdown.icon-link
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  span.glyphicon.glyphicon-shopping-cart.m-right-1.font-size-slarge
                  span.text-green 
                    span#order-items-count 0
                //
                  dropdown-cart
                  ==================================================
                ul.dropdown-menu.dropdown-menu-right.dropdown-cart
                  .dropdown-cart-content#dropdown-cart-content

                        
            |         
            li.icon-link.m-right-0
              //
                search
                ==================================================
              #sb-search.sb-search
                form(action='/search')
                  input#search.sb-search-input.form-control(placeholder='Search for...', type='text', value='', name='q')
                  |     
                  input.sb-search-submit(type='submit', value='')
                  |     
                  span.glyphicon.glyphicon-search.font-size-slarge
              // /sb-search
        // /navbar-collapse
      // /container
    // /navbar-fixed-top
    //
      navmenu-fixed-right
      ==================================================
    .navmenu.navmenu-default.navmenu-fixed-right.offcanvas
      a.navmenu-brand(href='/') #{company.name}
      |   
      ul.nav.navmenu-nav.navmenu-nav-top
        li
          a(href='brands-list') BRANDS
        |     
        //- li
        //-   a(href='http://blog.xxxxx.com/') BLOG
        //- |     
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | SHOP
            span.glyphicon.glyphicon-chevron-down.m-left-1
          |       
          //- ul.dropdown-menu.navmenu-nav(role='menu')
            li
              a(href='shop/products') 新品上市
            |         
            li
              a(href='shop/products') 居家生活
            |         
            li
              a(href='shop/products') 餐廚食器
            |         
            li
              a(href='shop/products') 事務文具
            |         
            li
              a(href='shop/products') 收納整理
            |         
            li
              a(href='shop/products') 配件小物
            |         
            li
              a(href='shop/products') 數位科技
            |         
            li
              a(href='shop/products') 工藝職人
            |         
            li
              a(href='shop/products') 特別企劃
            |         
            li
              a.btn.btn-default(href='brands-list-shop') 品牌列表
        |     
        li
          a(href='login')
            span.glyphicon.glyphicon-user.m-right-1
            | LOGIN
        |     
        li
          a(href='user/cart')
            span.glyphicon.glyphicon-shopping-cart.m-right-1
            span.text-green 5
        |     
        li
          .input-group.m-bottom-2.m-top-2
            input.form-control(type='text', placeholder='Search for...')
            |         
            span.input-group-btn
              a.btn.btn-default.p-left-2.p-right-2(href='search-result')
                span.glyphicon.glyphicon-search
          // /input-group
    
    // /navmenu-fixed-right
    include ./partial/_main_modal
    
    //
      Navbar
      ==================================================
    nav#header-control-panel.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            |         
            span.icon-bar
            |         
            span.icon-bar
            |         
            span.icon-bar
          |       
          a.navbar-brand(href='/') #{company.name}
          |       
          h4.navbar-text.pull-left control panel
        // /navbar-header
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right(aria-multiselectable='true')
            li
              a.text-center(href='index') 登出
            |         
            li
              a.text-center(href='control-password') 修改密碼
        // /navbar-collapse
      // /container
    // /navbar-fixed-top

    - var flash = errors || req.flash('message') || req.flash('error')
    if flash.length != 0
      .row.col-xs-12
        .alert.alert-danger(role='alert')
          p 表單送出填寫有誤，請確認填入資料
          p(style="display:none;")= flash
    
    block body

    include _layout_footer

  script(src='/javascripts/plugin/modernizr.custom.js')
  script(src='http://code.jquery.com/jquery-1.9.1.js')
  script(src='/javascripts/plugin/scrolltotop.js')
  // /scrolltotop
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='/javascripts/plugin/bootstrap.js')
  // /bootstrap
  script(src='/javascripts/plugin/jasny-bootstrap.js')
  // /jasny-bootstrap
  script(src='/javascripts/plugin/classie.js')
  script(src='/javascripts/plugin/uisearch.js')
  // /sb-search
  script(src='/javascripts/plugin/input-number.js')
  // /input-number
  script(src='/javascripts/plugin/tagsinput.js')
  script(src='/javascripts/plugin/cbpAnimatedHeader.js')
  // /cbpAnimatedHeader
  script(type='text/javascript', src='/javascripts/plugin/notifyme.js')
  script(src='/javascripts/plugin/scrolltotop.js')
  script(src='/javascripts/plugin/cbpScroller.js')
  script(src="/bower/js-cookie/js.cookie.js")
  script(type='text/javascript' src='/javascripts/common/head_layout.js')
  script(type='text/javascript' src='/javascripts/user/login.js')
  script(type='text/javascript' src='/bower/js-cookie/js.cookie.js')
  script(type='text/javascript' src='/bower/jquery.serializeJSON/jquery.serializejson.js')

  script.
    window.USER = !{JSON.stringify(user)};

  block js
    //- //ＢＵＧ 放shop裡不行
  //- script(src="/javascripts/main/shop.js")
