extends ../_layout_auth

block body
  .row
    .col-xs-10
      h2.m-bottom-6 會員列表
    // /col-xs-10
    .col-xs-2.text-right
      a(data-toggle='collapse', href='#collapse-member', aria-expanded='false')
        span.glyphicon.glyphicon-zoomin.font-size-large.m-top-1
    // /col-xs-2
  // /row
  #collapse-member.collapse.in
    .well.control-well.p-30.m-bottom-8
      form.form-horizontal.with-pagination(name="searchUsers", action="members", method="get")
        input(type='hidden', name='page', value=query.page?query.page:0)
        input(type='hidden', name='limit', value=limit)
        .row.row-m
          .col-md-4
            .form-group
              label.col-md-4.control-label 會員姓名
              .col-md-8
                input.form-control(type='text', name='fullName', value = query.fullName?query.fullName: '')
            // /form-group
          // /col-md-4
          .col-md-4
            .form-group
              label.col-md-4.control-label 關鍵字
              .col-md-8
                input.form-control(type='text', name='keyword', value = query.keyword?query.keyword: '')
            // /form-group
          // /col-md-4
        // /row
        .row.row-m
          .col-md-4
            .form-group
              label.col-md-4.control-label 聯絡電話
              .col-md-8
                input.form-control(type='text', name='mobile', value = query.mobile?query.mobile: '')
            // /form-group
          // /col-md-4
          .col-md-8
            .form-group
              label.col-md-2.control-label 建檔日期
              .col-md-4
                input.form-control(type='date', name='createdStart', value = query.createdStart?query.createdStart: null)
              .col-md-2.text-center
                p.form-control-static 至
              .col-md-4
                input.form-control(type='date', name='createdEnd', value = query.createdEnd?query.createdEnd: null)
            // /form-group
          // /col-md-8
          .col-md-12.text-right
            a.btn.btn-primary(href='#' onClick='$("form[name=\'searchUsers\']").submit()' ) 查詢
          // /col-md-12
        // /row
      // /form-horizontal
    // /well
  // /collapse
  .row
    .col-md-6
      form.form-inline
        .form-group
          label 顯示
          select#pagination-limit.form-control
            option(selected=(limit==10)) 10
            option(selected=(limit==20)) 20
            option(selected=(limit==30)) 30
            option(selected=(limit==40)) 40
            option(selected=(limit==50)) 50
          label 筆資料（共 #{totalRows} 筆）
        // /form-group
    // /col-md-6
    .col-md-6.desktop-text-right
      a.btn.btn-green(href='#') 儲存變更
    // /col-md-6
  // /row
  hr.dashed-line
  table.table.table-striped
    thead
      tr
        th 帳號
        th 姓名
        th
          | 生日
          span.caret
        th
          | 電話
          span.caret
        th
          | 信箱
          span.caret
        th
          | 購物金
          span.caret
        th
          | 備註
          span.caret
        th
    tbody
      each member in members.rows
        tr
          td #{member.username}
          td #{member.fullName}
          td #{sails.moment(member.birthDate).format('YYYY/MM/DD')}
          td #{member.mobile}
          td #{member.email}
          td #{member.totalBonusRemain}
          td #{member.comment}
          td.text-right
            a.btn.btn-link(href='member-detail/'+member.id)
              span.glyphicon.glyphicon-plus-circle
  hr.dashed-line
  .text-center
    //
      pagination-block
      ==================================================
    ul.list-inline.m-bottom-0.m-top-1
      li.border-right-1.p-right-2
        a(href='#' id='pagination-prev') 上一頁
      li.border-right-1.p-right-2 #{page + 1} / #{totalPages}
      li
        a(href='#' id='pagination-next') 下一頁
  // /text-center
  
  block js
    script(src='/javascripts/common/pagination.js')
