extends ./../layout

block body
  - var flash = req.flash('message')
  if flash.length != 0
    p= flash
  h1 order list
  table.table
    thead
      tr
        th #
        th Serial Number
        th 訂單總金額
        th 付款日期
        th Name
        th Description
        th StockQuantity
        th Price
        th status
        th
        th
    tbody
      each order in orders
        tr
          th(scope='row')
            a(href="/order/show/#{order.id}")= order.id
          td= order.serialNumber
          td= order.paymentTotalAmount
          td
            p
              small= sails.moment(order.paymentConfirmDate).format('YYYY/MM/DD')
              br
              small 匯款人: #{order.paymentConfirmName}
              br
              small 後五碼: #{order.paymentConfirmPostfix}
          td= order.name
          td= order.description
          td= order.stockQuantity
          td= order.price
          td= order.status
          td
            a.btn.btn-green(href='/order/statusUpdate/#{order.id}?status=paymentConfirm') 通知匯款成功
          td
            a.btn.btn-green(href='/order/statusUpdate/#{order.id}?status=deliveryConfirm') 通知已出貨
