extends ../_layout_auth

block body
  - var flash = req.flash('message')
  if flash.length != 0
    .row.col-xs-10
      .alert.alert-danger(role='alert')
        p= flash
  .row
    .col-xs-10
      h2.m-bottom-6 訂單管理
    // /col-xs-10
    .col-xs-2.text-right
      a(data-toggle='collapse', href='#collapse-order', aria-expanded='false')
        span.glyphicon.glyphicon-zoomin.font-size-large.m-top-1
    // /col-xs-2
  // /row
  #collapse-order.collapse.in
    .well.control-well.p-30.m-bottom-8
      form.form-horizontal(name="searchOrders", action="order", method="get")
        .row.row-m
          .col-md-4
            .form-group
              label.col-md-4.control-label 訂單編號
              .col-md-8
                input.form-control(type='text',name='serialNumber', value = query.serialNumber)
            // /form-group
          // /col-md-4
          .col-md-4
            .form-group
              label.col-md-4.control-label 運送方式
              .col-md-8
                select.form-control(name='shippingMethod', value = query.shippingMethod)
                  option(value=0) 選擇狀態
                  option(value=1) 1
                  option(value=2) 2
                  option(value=3) 3
                  option(value=4) 4
            // /form-group
          // /col-md-4
          .col-md-4
            .form-group
              label.col-md-4.control-label 關鍵字
              .col-md-8
                input.form-control(type='text', name='keyword', value = query.keyword?query.keyword: '')
            // /form-group
          // /col-md-4
        // /row
        .row.row-m
          .col-md-4
            .form-group
              label.col-md-4.control-label 購買人
              .col-md-8
                input.form-control(type='text', name='userName', value = query.userName)
            // /form-group
          // /col-md-4
          .col-md-4
            .form-group
              label.col-md-4.control-label 付款狀態
              .col-md-8
                select.form-control(name='status', value = query.status?query.status: 0)
                  option(value='0') 選擇狀態
                  option(value='new') new
                  option(value='paymentConfirm') paymentConfirm
                  option(value='deliveryConfirm') deliveryConfirm
            // /form-group
          // /col-md-4
          .col-md-4
            .form-group
              label.col-md-4.control-label 出貨通知
              .col-md-8
                select.form-control(name='shipmentNotify', value = query.shipmentNotify?query.shipmentNotify: 0)
                  option(value=0) 選擇狀態
                  option(value=1) 1
                  option(value=2) 2
                  option(value=3) 3
                  option(value=4) 4
            // /form-group
          // /col-md-4
        // /row
        .row.row-m
          .col-md-4
            .form-group
              label.col-md-4.control-label 收件人
              .col-md-8
                input.form-control(type='text', name='addressee', value = query.addressee)
            // /form-group
          // /col-md-4
          .col-md-8
            .form-group
              label.col-md-2.control-label 訂單日期
              .col-md-4
                input.form-control(type='date', name='createdStart', value = query.createdStart?query.createdStart: null)
              .col-md-2.text-center
                p.form-control-static 至
              .col-md-4
                input.form-control(type='date', name='createdEnd', value = query.createdEnd?query.createdEnd: null)
                input(type='hidden', name='page' value = query.page?query.page: 0)
            // /form-group
          // /col-md-8
          .col-md-12.text-right
            a.btn.btn-primary(onClick='$("form[name=\'searchOrders\']").submit()') 查詢
          // /col-md-12
        // /row
      // /form-horizontal
    // /well
  // /collapse
  .row
    .col-md-6
      form.form-inline
        .form-group
          label 顯示
          select#order-query-limit.form-control
            option(selected=(limit==10)) 10
            option(selected=(limit==20)) 20
            option(selected=(limit==30)) 30
            option(selected=(limit==40)) 40
            option(selected=(limit==50)) 50
          label 筆資料（共 #{orders.count} 筆）
        // /form-group
    // /col-md-6
    .col-md-6.desktop-text-right
      a.btn.btn-gray(href='#') 列印撿貨單
      a.btn.btn-gray(href='#') 列印清單
    // /col-md-6
  // /row
  hr.dashed-line
  table#collapse-purchase.table.table-purchase
    thead
      tr
        th
        th 訂單編號
        th 購買人
        th 聯絡電話
        th 總數
        th 運送方式
        th 付款
        th 訂單日期
        th 確認匯款通知
        th 出貨通知
        th
          span.glyphicon.glyphicon-plus
    tbody
      each order in orders.rows
        tr
          td
            input(type='checkbox')
          td= order.serialNumber
          td= order.User.username
          td= order.User.mobile
          td= order.quantity
          td
          td
            if order.paymentIsConfirmed
              p
                small= sails.moment(order.paymentConfirmDate).format('YYYY/MM/DD')
                br
                small 匯款人: #{order.paymentConfirmName}
                br
                small 後五碼: #{order.paymentConfirmPostfix}
                br
                small 匯款金額: #{order.paymentConfirmAmount}
            else
              p 尚未填寫匯款回報

          td= sails.moment(order.createdAt.format).format('YYYY/MM/DD hh:mm')
          td
            a.btn.btn-green(href='/order/statusUpdate/#{order.id}?status=paymentConfirm') 通知匯款成功
          td
            a.btn.btn-green(href='/order/statusUpdate/#{order.id}?status=deliveryConfirm') 通知已出貨

          td
            a(data-toggle='collapse', data-parent='#collapse-purchase', href='##{order.serialNumber}')
              span.glyphicon.glyphicon-plus

        tr.tr-hide
          td(colspan='10')
            .panel-collapse.collapse(id=order.serialNumber)
              //
                order-detail
                ==================================================
              .p-10
                .m-top-2.m-bottom-2
                  p.text-danger ※ 會員備註：瑕疵退貨2次、換色1次、無人收件1次
                  .row
                    .col-sm-6
                      ul.p-left-3
                        li 收件人姓名：#{order.Shipment.dataValues.username} 先生/小姐
                        li 收件人電話：#{order.Shipment.dataValues.mobile}
                        li 收件人地址：#{order.Shipment.dataValues.address}
                    // /col-sm-6
                    .col-sm-6
                      form.form-horizontal
                        .form-group.form-group-sm
                          label.col-sm-4.control-label 運送方式
                          .col-sm-8
                            input.form-control.input-sm(type='text')
                        // /form-group
                        .form-group.form-group-sm
                          label.col-sm-4.control-label 編號
                          .col-sm-8
                            input.form-control.input-sm(type='text')
                        // /form-group
                    // /col-sm-6
                  // /row
                // /m-top-2 m-bottom-2
                .well
                  table.table.m-bottom-0
                    thead
                      tr
                        th 貨號
                        th 商品名稱
                        th.text-center 數量
                        th 單價
                        th.text-right 小計
                    tbody
                      - sumPrice = 0
                      - sum = 0
                      each item in order.OrderItems
                        tr
                          td SNAP6-PLUS_CASE_RD
                          td
                            a(href='shop-product') #{item.name}
                          td.text-center #{item.quantity}
                          td #{item.price}
                          td.text-right #{item.price*item.quantity}
                          - sumPrice += item.price*item.quantity
                          - sum += item.quantity
                      tr
                        td(colspan='2')
                          ul.list-inline
                            li 運費 0
                            li 包裝 60
                            li 折扣碼 -30
                        td.text-center.text-danger #{sum}
                        td.text-right(colspan='2')
                          h3
                            small 總計
                            span.m-left-2 NT$ #{sumPrice+60-30}
                // /well
                p 付款方式：7-11 ibon 代碼繳費，繳費代碼：251563222267
                ul.list-inline
                  li 發票類型：三聯式發票
                  li 抬頭：{company_name}
                  li 統編：{tax_id}
                p.text-danger 賣家備註：1.管理員代收 2.禮品的包裝盒請去除價格標籤
              // /p-10
            // /panel-collapse
  hr.dashed-line
  .text-center
    //
      pagination-block
      ==================================================
    ul.list-inline.m-bottom-0.m-top-1
      li.border-right-1.p-right-2
        a(href='#' id='previous') 上一頁
      li.border-right-1.p-right-2 #{page + 1} / #{Math.ceil(orders.count / limit)}
      li
        a(href='#' id='next') 下一頁
  // /text-center

  block js
    script.
      $(function() {
        $('#order-query-limit').change(function() {
          location.href='/admin/order?limit='+$(this).val();
        });

        $('.form-control').change(function(){
          $("input[name='page']").val(0);
        });

        $('#next').click(function(){
          console.log()
          $("input[name='page']").val(parseInt($("input[name='page']").val())+1);
          $("form[name='searchOrders']").submit();
        });

        $('#previous').click(function(){
          $("input[name='page']").val($(parseInt("input[name='page']").val())-1);
          $("form[name='searchOrders']").submit();
        });
      });
