extends ./../layout

block body
  h1 order list
  table.table
    thead
      tr
        th #
        th Serial Number
        th 訂單總金額
        th Name
        th Description
        th StockQuantity
        th Price
    tbody
      each order in orders
        tr
          th(scope='row')
            a(href="/order/show/#{order.id}")= order.id
          td= order.SerialNumber
          td= order.paymentTotalAmount
          td= order.name
          td= order.description
          td= order.stockQuantity
          td= order.price
