extends ../_layout_auth

block body
  h2.m-bottom-6 優惠代碼
  a.btn.btn-danger.btn-lg.m-bottom-6(href='shop-code/create') 建立代碼
  .row
    .col-sm-6.col-md-8
      form.form-inline
        .form-group
          label 顯示
          select.form-control
            option 10
            option 20
            option 30
            option 40
            option 50
          label 筆資料（共 90 筆）
        // /form-group
    // /col-sm-6
    .col-sm-6.col-md-4
      .input-group
        input.form-control(type='text', placeholder='Search for...')
        span.input-group-btn
          button.btn.btn-default.p-left-2.p-right-2(type='button')
            span.glyphicon.glyphicon-search
      // /input-group
    // /col-sm-6
  // /row
  hr.dashed-line
  table.table.table-striped
    thead
      tr
        th 優惠代碼
        th 優惠名稱
        th 優惠
        th 限滿額
        th 時間
        th
    tbody
      each shopCode in shopCodes
        tr
          td
            span.text-info #{shopCode.code}
          td #{shopCode.title}
          td #{shopCode.description}
          td #{shopCode.restriction}
          td
            if shopCode.restrictionDate
              | 不限時
            else
              | #{shopCode.startDate}
              br
              | #{shopCode.endDate}
          td.text-right
            a.btn.btn-link(href='/admin/shop-code/update?id=#{shopCode.id}')
              span.glyphicon.glyphicon-pencil2
            input(type='hidden', value='#{shopCode.id}')
            a.btn.btn-link.delete-link(href='', data-toggle='modal', data-target='#modal-delete')
              span.glyphicon.glyphicon-remove

  #modal-delete.modal.fade
    .modal-dialog(role='document')
      .modal-content.font-size-slarge
        .modal-header.p-30
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h2.modal-title 刪除
        // /modal-header
        .modal-body.p-30.p-top-0
          p 您確定要將此 Section 刪除？
        // /modal-body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button.btn.btn-green(type='button', data-dismiss='modal') 確定
        // /modal-footer
      // /modal-content
    // /modal-dialog


block js
  script(src="/javascripts/admin/shopCode.js")


