extends ../_layout_auth
include ../mixins/pagination

block body
  h2.m-bottom-6 加價購
  a.btn.btn-danger.btn-lg.m-bottom-6(href='buymore/detail') 建立加價購
  ul.nav.nav-tabs.m-bottom-4
    li.active
      a(href='#tab-1', data-toggle='tab') 不限金額
    li
      a(href='#tab-2', data-toggle='tab') 限滿 1,500 元
  // /nav
  .tab-content
    #tab-1.tab-pane.fade.in.active
      .row
        .col-sm-6.col-md-8
          form.form-inline.with-pagination(name="show", action="/admin/shop-buy-more", method="get")
            +pagination-fields(page, limit)
            .form-group
              label 顯示
                +pagination-limit
            // /form-group
        // /col-sm-6
        .col-sm-6.col-md-4
          .input-group
            input.form-control(type='text', placeholder='Search for...')
            span.input-group-btn
              button.btn.btn-default.p-left-2.p-right-2(type='button')
                span.glyphicon.glyphicon-search
          // /input-group
        // /col-sm-6
      // /row
      hr.dashed-line
      table.table.table-striped
        thead
          tr
            th 主圖
            th 商品名稱
            th 貨號
            th 售價
            th 特價
            th 折扣
            th 時間
            th
        tbody
          each purchase in additionalPurchaseNoLimit.rows
            each product in purchase.Products
              tr
                td
                  img.width-6(src= product.photos[0])
                td #{product.name}
                td #{product.id}
                td #{product.price}
                if purchase.type == 'discount'
                  td
                    span.text-danger #{Math.ceil(product.price * (purchase.discount*0.1))}
                  td #{purchase.discount} 折
                else
                  td
                    span.text-danger #{product.price - purchase.reducePrice}
                  td #{purchase.reducePrice} 元
                td
                  | #{purchase.startDate ? sails.moment(purchase.startDate).format('YYYY/MM/DD') : '不限時'}
                  br
                  | #{purchase.endDate ? sails.moment(purchase.endDate).format('YYYY/MM/DD') : '不限時'}
                td.text-right
                  a.btn.btn-link(href='../admin/buymore/detail?id='+ purchase.id)
                    span.glyphicon.glyphicon-pencil2
      hr.dashed-line
      .text-center
        //
          pagination-block
          ==================================================
        ul.list-inline.m-bottom-0.m-top-1
          +pagination-simple-pager(page, totalPages)
      // /text-center
    // /tab-pane
    #tab-2.tab-pane.fade
      .row
        .col-sm-6.col-md-8
          form.form-inline
            .form-group
              label 顯示
              select.form-control
                option 10
                option 20
                option 30
                option 40
                option 50
              label 筆資料（共 90 筆）
            // /form-group
        // /col-sm-6
        .col-sm-6.col-md-4
          .input-group
            input.form-control(type='text', placeholder='Search for...')
            span.input-group-btn
              button.btn.btn-default.p-left-2.p-right-2(type='button')
                span.glyphicon.glyphicon-search
          // /input-group
        // /col-sm-6
      // /row
      hr.dashed-line
      table.table.table-striped
        thead
          tr
            th 主圖
            th 商品名稱
            th 貨號
            th 售價
            th 特價
            th 折扣
            th 時間
            th
        tbody
          each purchase in additionalPurchaseLimit
            each product in purchase.Products
              tr
                td
                  img.width-6(src= product.photos[0])
                td #{product.name}
                td #{product.id}
                td #{product.price}
                if purchase.type == 'discount'
                  td
                    span.text-danger #{Math.ceil(product.price * (purchase.discount*0.1))}
                  td #{purchase.discount} 折
                else
                  td
                    span.text-danger #{product.price - purchase.reducePrice}
                  td #{purchase.reducePrice} 元
                td
                  | #{purchase.startDate ? sails.moment(purchase.startDate).format('YYYY/MM/DD') : '不限時'}
                  br
                  | #{purchase.endDate ? sails.moment(purchase.endDate).format('YYYY/MM/DD') : '不限時'}
                td.text-right
                  a.btn.btn-link(href='../admin/buymore/detail?id='+ purchase.id)
                    span.glyphicon.glyphicon-pencil2
      hr.dashed-line
      .text-center
        //
          pagination-block
          ==================================================
        ul.list-inline.m-bottom-0.m-top-1
          li.border-right-1.p-right-2
            a(href='#') 上一頁
          li.border-right-1.p-right-2 第 15 之 20
          li
            a(href='#') 下一頁
      // /text-center
    // /tab-pane
  // /tab-content
block js
  script(src='/javascripts/common/pagination.js')
