extends ../_layout_auth

block body
  h2.m-bottom-6 加價購設定
  .well.control-well.p-30.m-bottom-8
    form.form-horizontal(name = 'updateForm')
      .form-group
        label.col-sm-3.col-md-2.control-label 是否限滿額
        .col-sm-9.col-md-10
          .btn-group.btn-group-switch(data-toggle='buttons')
            label.btn.btn-default
              input#option1(type='radio', name='limit',value= "0" ,autocomplete='off')
              span.btn-text 不限金額
            label.btn.btn-default.active
              input#option2(type='radio', name='limit',value= "1500" ,autocomplete='off',checked='')
              span.btn-text 限滿 1,500 元
          // /btn-group-switch
        // /col-sm-10
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 活動時間
        .col-sm-4.col-md-3
          input.form-control(type='date',name = 'startDate')
        .col-sm-1.col-md-1.p-left-0.p-right-0.text-center
          p.form-control-static 至
        .col-sm-4.col-md-3
          input.form-control(type='date',name = 'endDate')
        .col-sm-9.col-sm-offset-3.col-md-3.col-md-offset-0
          .checkbox
            label
              input(type='checkbox')
              |  不限時
      // /form-group
      .form-group
        label.col-sm-3.col-md-2.control-label 折扣設定
        .col-sm-4.col-md-3
          .radio
            label
              input#optionsRadios1(type='radio',name='type', value='reduce', checked='')
              input.form-control(type='text', name='reducePrice' , placeholder='請輸入折扣金額')
        .col-sm-1.col-md-1
        .col-sm-4.col-md-3
          .radio
            label
              input#optionsRadios2(type='radio',name='type', value='discount')
              .input-group.width-12
                input.form-control(type='text',name='discount')
                span.input-group-addon 折
              // /input-group
      // /form-group
      .m-top-6.text-right
        a.btn.btn-link.delete-link.btn-lg(href='../admin/shop-buy-more') 取消
        a#add.btn.btn-green.btn-lg(href='#') 確定
      // /text-right
  // /well
  .row
    .col-md-4
      form.form-inline
        .form-group
          label 顯示
          select#limit.form-control
            option(selected=(limit==10)) 10
            option(selected=(limit==20)) 20
            option(selected=(limit==30)) 30
            option(selected=(limit==40)) 40
            option(selected=(limit==50)) 50
          label 筆資料（共 #{additionalPurchase.count} 筆）
        // /form-group
    // /col-md-6
    .col-md-8.desktop-text-right
      form.form-inline(name="search", action="shop-buy-more-add-item", method="get")
        .form-group.m-right-2
          label 品牌名稱
          select.form-control
            option 品牌名稱
            option 2
            option 3
            option 4
            option 5
        // /form-group
        .form-group.m-right-2
          .input-group
            input#keyword.form-control(type='text',name="keyword",placeholder='輸入關鍵字',value = query.keyword)
            input(type='hidden', name='page',value = page)
            span.input-group-btn
              button.btn.btn-default.p-left-2.p-right-2(type='button', onClick='$("form[name=\'search\']").submit()')
                span.glyphicon.glyphicon-search
    // /col-md-6
  // /row
  hr.dashed-line
  table.table.table-striped
    thead
      tr
        th
          input(type='checkbox')
        th 主圖
        th
          | 商品名稱
          span.caret
        th
          | 貨號
          span.caret
        th
          | 售價
          span.caret
        th
          | 特價
          span.caret
    tbody
      each purchase in additionalPurchase.rows
        tr
          td
            input.addSelect(type='checkbox' value= purchase.id)
          td
            img.width-6(src='images/demo/shop-item-1-1.jpg')
          td #{purchase.name}
          td #{purchase.id}
          td 590
          td
            span.text-danger 490
  hr.dashed-line
  .text-center
    //
      pagination-block
      ==================================================
    ul.list-inline.m-bottom-0.m-top-1
      li.border-right-1.p-right-2
      li
        a#bonusPrevious(href='#') 上一頁
      li.border-right-1.p-right-2 #{page + 1} / #{Math.ceil(additionalPurchase.count / limit)}
      li
        a#bonusNext(href='#') 下一頁
  // /text-center
  block js
    script(src="/javascripts/admin/addPurchase.js")
