extends ../_layout_auth

block body
  h2.m-bottom-6 商品折扣
  a.btn.btn-danger.btn-lg.m-bottom-6(href='shop-discount-detail') 建立活動
  form.form-inline
    .form-group
      label 顯示
      select.form-control
        option 10
        option 20
        option 30
        option 40
        option 50
      label 筆資料（共 90 筆）
    // /form-group
  hr.dashed-line
  table.table.table-striped
    thead
      tr
        th 主圖
        th
          | 類型
          span.caret
        th
          | 折扣名稱
          span.caret
        th
          | 活動類型
          span.caret
        th
          | 活動時間
          span.caret
        th
    tbody
      if (Object.keys(promotions).length == 0)
        script.
          alert('找不到符合的promotions')
      each promotion in promotions
        tr
          td
            img.width-10(src='images/demo/shop-item-1-1.jpg')
          td
            -if(promotion.type == "flash")
              span.label.label-default 閃購
            -else
              span.label.label-default 一般
          td #{promotion.title}
          td #{promotion.discountType}
          td 
            span= sails.moment(promotion.startDate).format('YYYY/MM/DD hh:mm')
            span= " - "
            span= sails.moment(promotion.endDate).format('YYYY/MM/DD hh:mm')
          td.text-right
            a.btn.btn-link(href='shop-discount-detail')
              span.glyphicon.glyphicon-pencil2
      //- tr
      //-   td
      //-     img.width-10(src='images/demo/shop-item-3-1.jpg')
      //-   td {discount_name}
      //-   td {activity_name}
      //-   td 2015/06/08 - 2015/06/30
      //-   td.text-right
      //-     a.btn.btn-link(href='shop-discount-detail2')
      //-       span.glyphicon.glyphicon-pencil2
  hr.dashed-line
  .text-center
    //
      pagination-block
      ==================================================
    ul.list-inline.m-bottom-0.m-top-1
      li.border-right-1.p-right-2
        a(href='#') 上一頁
      li.border-right-1.p-right-2 第 15 之 20
      li
        a(href='#') 下一頁
  // /text-center
  block js
    script(src="/javascripts/admin/discount.js")
