extends ../_layout_auth

block body
  h2.m-bottom-6 選擇加價購商品
  .well.control-well.p-30.m-bottom-8
    form.form-inline(name="search", action="shop-buy-more-add-item", method="get")
      .form-group.m-right-4
        label 品牌名稱
        select.form-control
          option 品牌名稱
          option 2
          option 3
          option 4
          option 5
      // /form-group
      .form-group.m-right-4
        label 關鍵字
        input#keyword.form-control(type='text',name="keyword",value = query.keyword)
        input(type='hidden', name='page' value = page)
      // /form-group
      button.btn.btn-default(type='button', onClick='$("form[name=\'search\']").submit()') 查詢
  // /well
  .row
    .col-md-6
      form.form-inline
        .form-group
          label 顯示
          select#limit.form-control
            option(selected=(limit==10)) 10
            option(selected=(limit==20)) 20
            option(selected=(limit==30)) 30
            option(selected=(limit==40)) 40
            option(selected=(limit==50)) 50
          label 筆資料（共 #{additionalPurchase.count} 筆）
        // /form-group
    // /col-md-6
    .col-md-6.desktop-text-right
      a#add.btn.btn-green(href='#') 加入已選取商品
    // /col-md-6
  // /row
  hr.dashed-line
  table.table.table-striped
    thead
      tr
        th
          input(type='checkbox')
        th 主圖
        th
          | 商品名稱
          span.caret
        th
          | 貨號
          span.caret
        th
          | 售價
          span.caret
        th
          | 特價
          span.caret
    tbody
      each purchase in additionalPurchase.rows
        tr
          td
            input.addSelect(type='checkbox' value= purchase.id)
          td
            img.width-6(src='images/demo/shop-item-1-1.jpg')
          td #{purchase.name}
          td #{purchase.id}
          td 590
          td
            span.text-danger 490
  hr.dashed-line
  .text-center
    //
      pagination-block
      ==================================================
    ul.list-inline.m-bottom-0.m-top-1
      li.border-right-1.p-right-2
      li
        a#bonusPrevious(href='#') 上一頁
      li.border-right-1.p-right-2 #{page + 1} / #{Math.ceil(additionalPurchase.count / limit)}
      li
        a#bonusNext(href='#') 下一頁
  // /text-center
  block js
    script.
      $(function() {
        $('#limit').change(function() {
          location.href='/shop-buy-more-add-item?limit='+$(this).val();
        });

        $('.form-control').change(function(){
          $("input[name='page']").val(0);
        });

        $('#bonusNext').click(function(){
          $("input[name='page']").val(parseInt($("input[name='page']").val())+1);
          $("form[name='search']").submit();
        });

        $('#bonusPrevious').click(function(){
          $("input[name='page']").val(parseInt($("input[name='page']").val())-1);
          $("form[name='search']").submit();
        });
        
        $('#add').click(function(){
          var selsetItem=[];
          $(".addSelect").each(function(index,dom){
            if(dom.checked)
              selsetItem.push(dom.value);
          });
          console.log(selsetItem);
          //- shop-buy-more-detail
          
        });
      });
