extends ./../layout

block body
  h1 product list
  a#addProductButton.ui-btn.ui-corner-all(href='/product/create')新增
  table.table
    thead
      tr
        th #
        th name
        th description
        th stockQuantity
        th price
        th isPublish
        th comment
    tbody
      each product in products
        tr
          th(scope='row')
            a(href="/product/show/#{product.id}")= product.id
          td= product.name
          td= product.description
          td= product.stockQuantity
          td= product.price
          td= product.isPublish
          td= product.comment
