div(data-role='fieldcontain')
  label(for='[name]') 名稱:
  input(type='text', name='[name]', id='[name]', value=product.name)
div(data-role='fieldcontain')
  label(for='[description]') 描述:
  input(type='text', name='[description]', id='[description]', value=product.description)
div(data-role='fieldcontain')
  label(for='[stockQuantity]') 數量:
  input(type='text', name='[stockQuantity]', id='[stockQuantity]', value=product.stockQuantity)
div(data-role='fieldcontain')
  label(for='produte[price]') 價錢:
  input(type='text', name='[price]', id='[price]', value=product.price)
div(data-role='fieldcontain')
  label(for='[image]')
  input(type='text', name='[image]', id='[image]', value=product.image)