extends ./../layout

block body
  h1 product
  a(href='/product/index', data-icon='back', data-iconpos='notext') 返回
  .nd2-card
    .card-media
        img#product_image(src=product.image, alt='product')
      card-supporting-text.has-action
        h3#product_name=product.name
        p#product_descript=product.descript
        p 庫存箱數:
          span#product_stockQuantity=product.stockQuantity
        p 單價:
          span#product_price=product.price
        p 商品是否上架:
          span#product_price=product.isPublish
        p 商品備註:
          span#product_price=product.comment
     .card-action
        fieldset(data-role='controlgroup', data-type='horizontal')
          a#productUpdateButton.ui-btn.ui-corner-all(href='/product/edit/#{product.id}')[編輯]
          a#productDeleteButton.ui-btn.ui-corner-all(href='/product/delete/#{product.id}?responseType=view')[刪除]
          a#productDeleteButton.ui-btn.ui-corner-all(href='/product/publish/#{product.id}?responseType=view')[上架]
          a#productDeleteButton.ui-btn.ui-corner-all(href='/product/unpublish/#{product.id}?responseType=view')[下架]
