extends ../_layout_head

block body

    .container
      //
        brands-carousel
        ==================================================
      #carousel-brands.carousel.slide(data-ride='carousel')
        .carousel-inner(role='listbox')
          each photo, index in brand.photos
            - var activeClass = index === 0 ? "active" : "";
            a.item(href='#', class=activeClass)
              img.img-full(src='#{photo}')
        // /carousel-inner
        a.left.carousel-control(href='#carousel-brands', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-thin-left(aria-hidden='true')
          span.sr-only Previous
        // /carousel-control
        a.right.carousel-control(href='#carousel-brands', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-thin-right(aria-hidden='true')
          span.sr-only Next
        // /carousel-control
      // /carousel-brands
      .row.m-top-6
        .col-md-5.col-lg-5
          img.img-responsive.m-h-auto.m-top-4.m-bottom-4(src='#{brand.avatar}')
        // /col-md-5
        .col-md-7.col-lg-6.desktop-p-left-6
          h1.text-gray-darker.m-bottom-6.mobile-text-center.text-roboto.letter-spacing-3 #{brand.name}
          .m-bottom-10
            p #{brand.desc}
          // /font-size-small
        // /col-md-7
      // /row
      .text-center.m-bottom-6
        a.btn.btn-line.btn-sm.btn-circle(href='/shop/products/')
          span.text-en
            | GO TO
            br
            | STORE
          span.text-active
            | 前往
            br
            | 購物
      // /text-center
    // /container
