extends ../_layout_head

block body
    .container
      h1.text-black.m-top-10.m-bottom-6 我的購物車
      #nothing.border-block-3.m-bottom-10.text-center.p-top-10.p-bottom-10
        span.glyphicon.glyphicon-shopping-cart.text-muted.font-size-xxxxlarge.m-bottom-4
        h1.m-bottom-4.text-muted 購物車空空呦！
        h4
          ins
            a(href='shop/products') 趕快來逛逛
          | 或是從
          ins
            a(href='member-fav') 收藏清單
          | 內查看！
      // /border-block-3 沒東西顯示這個
      .border-block-3.m-bottom-10
        .row
          .col-md-9.border-right-1-desktop.desktop-p-right-0.min-height-500
            #cart-viewer
            
            .p-20
              h2.m-bottom-4 運送付款
              .row
                .col-sm-4
                  .form-group
                    label
                      | 運送方式
                      span.text-danger *
                    select#shippingType.form-control     
                      option(value='0') 請選擇
                      option(value='delivery') 宅配 
                      option(value='postoffice') 郵局
                    //- select.form-control
                    //-   option 宅配 / 郵局
                  // /form-group
                // /col-sm-4
                .col-sm-4
                  .form-group
                    label
                      | 運送區域
                      span.text-danger *
                    select#shippingFeeSelect.form-control     
                     option(value='0') 請選擇
                      //- each shipping,index in shippings.shippings
                      //-   if(shippingType.selected == 'delivery')
                      //-     option(value='#{shipping.fee}') #{shipping.region} - 運費 #{shipping.fee} 元
                      //-   if(shippingType.selected == 'postoffice')
                      //-     option(value='#{shipping.fee}') #{shipping.region} - 運費 #{shipping.fee} 元
                  // /form-group
                // /col-sm-4
                .col-sm-4
                  .form-group
                    label
                      | 付款方式
                      span.text-danger *
                    select#paymentMethod.form-control
                      option(value='0') 請選擇
                      each method in paymentMethod
                        option(value= method.code) #{method.name}
                  // /form-group
                // /col-sm-4
              // /row
            // /p-20
          // /col-md-9
          .col-md-3.desktop-p-left-0
            .p-20
              table.table.m-bottom-6
                tbody
                  tr
                    th 小計
                      td#subtotal.text-right 0
                  tr
                    th 總折扣
                    td.text-right
                      span.text-danger 0
                  tr
                    th 運費
                    td#shippingFeeField.text-right 0
                  tr
                    th 禮品包裝
                    td.text-right 0
                  tr
                    th 折扣碼
                    td.text-right
                      span.text-danger 0
                  tr
                    th 加價購
                    td#buymore.text-right 0
                  tr
                    th 總計
                    td.text-right
                      h3#totalPrice.m-top-0 0
              a#nextSetp.btn.btn-black.border-radius-circle.btn-block.m-bottom-2 下一步、填寫資料
              a.btn.btn-link.btn-block.text-gray-light.m-bottom-6(href='/shop/products') 繼續購物
              .form-group
                label
                  a(href='#', data-toggle='tooltip', title='折扣代碼限單次消費折抵一次，如有餘額恕不退換現金。')
                    | 我有折扣代碼
                    span.glyphicon.glyphicon-info.m-left-1
                .input-group
                  input.form-control(type='text')
                  span.input-group-btn
                    button.btn.btn-black.p-left-2.p-right-2(type='button') OK
                // /input-group
              // /form-group
            // /p-20
          // /col-md-3
        // /row
      // /border-block-3 有東西顯示這個
      h2.text-black.m-bottom-6 購物滿額，即可以優惠價加購商品
      .border-block-3.m-bottom-10.p-20
        .row.row-l
          each additionalPurchaseProductGm in additionalPurchaseProductGms
            .col-md-4.col-sm-6
              .row.row-m.cart-add-product.cart-add-product-1
                .col-xs-6
                  .item-block
                    a.item-like(href='#')
                      span.glyphicon.glyphicon-heart
                    // /item-like
                    a(href='shop-product')
                      img.img-full(src=additionalPurchaseProductGm.coverPhoto[0])
                  // /item-block
                // /col-xs-6
                .col-xs-6
                  h6.text-muted.text-roboto.letter-spacing-1
                    a(href='/brands') #{additionalPurchaseProductGm.Brand.name}
                  h5.h5-two-hide.m-bottom-2.text-roboto.letter-spacing-1
                    a(href='/shop/product') #{additionalPurchaseProductGm.name}
                  select.form-control.m-bottom-2
                    option(value= 0 ,data-price= 0) 選擇規格
                    each product in additionalPurchaseProductGm.Products
                      option(value=product.id, data-price= product.price) #{product.name}
                  h4.text-green
                    | $ #{additionalPurchaseProductGm.price}
                    small.text-line-through.m-left-1 $ #{additionalPurchaseProductGm.originPrice}

    #modal-delete.modal.fade
      .modal-dialog(role='document')
        .modal-content.font-size-slarge
          .modal-header.p-30
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h2.modal-title 刪除
          // /modal-header
          .modal-body.p-30.p-top-0
            p 您確定要將此 
              span#deleteOrderItemName
              | 刪除？
            
          // /modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') 取消
            button.btn.btn-green(type='button', data-dismiss='modal', id='confirmedDeleteOrderItem') 確定
          // /modal-footer
        // /modal-content
      // /modal-dialog
    // /modal
  block js
    script(src="/javascripts/main/cart.js")
    script(src="/javascripts/main/shop.js")
