extends ../_layout_head

block body
    .container
      h1.text-black.m-top-10.m-bottom-6 填寫資料
      .border-block-3.m-bottom-10
        .row
          .col-md-9.border-right-1-desktop.desktop-p-right-0.min-height-600
            .p-40
              h2 購買人
              hr
              form#formUser.form-horizontal.m-bottom-10(name='orderCreate', method='post',action='/api/order')
                .form-group
                  label.col-sm-3.control-label
                    | 中文姓名
                    span.text-danger *
                  .col-sm-5
                    input.form-control(name='order[user][username]',type='text', placeholder='請填寫本名',required='', value=userData.fullName)
                    input.form-control(name='order[user][email]',type='hidden', value=userData.email)
                    //- input.form-control(name='order[shipment][username]',type='hidden')
                  .col-sm-4
                    label.checkbox-inline
                      input(type='checkbox', value='option1')
                      |  先生
                    label.checkbox-inline
                      input(type='checkbox', value='option2')
                      |  小姐
                // /form-group
                .form-group
                  label.col-sm-3.control-label
                    | 手機號碼
                    span.text-danger *
                  .col-sm-9
                    input.form-control(name='order[user][mobile]',type='text', placeholder='請輸入正確號碼，以便出貨聯繫',required='',value= userData.mobile)
                    //- input.form-control(name='order[shipment][mobile]',type='hidden' ,value= userData.mobile)
                // /form-group
                #userAddress.form-group
                  label.col-sm-3.control-label
                    | 寄送地址
                    span.text-danger *
                  .col-sm-9
                    #twzipcodeUser
                    input.userCity(name='userCity',type='hidden',value=userData.city)
                    input.userRegion(name='userRegion',type='hidden',value=userData.region)
                    input.userZipcode(name='userZipcode',type='hidden',value=userData.zipcode)
                  .col-sm-9.col-sm-offset-3.m-top-3
                    input.form-control(name='order[user][address]',type='text',required='' ,value= userData.address)
                    //- input.form-control(name='order[shipment][address]',type='hidden',value= userData.address)
                // /form-group
                .form-group
                  .col-sm-12
                    textarea.form-control(rows='6', placeholder='備註...')
                // /form-group
              // /form-horizontal
              label.checkbox-inline.m-top-2.m-left-0.p-left-0
                h2
                  | 我要送人
                  input#giftly.m-left-3.m-top-1(name='giftly', type='checkbox', value='showhide-sent')
              hr
              form#formShipment.form-horizontal.m-bottom-10.showhide-sent(style='display:none', name='orderCreate', method='post',action='/api/order')
                .form-group
                  label.col-sm-3.control-label
                    | 中文姓名
                    span.text-danger *
                  .col-sm-5
                    input.form-control(type='text', placeholder='請填寫本名', name='order[shipment][username]', required='', value=userData.fullName)
                  .col-sm-4
                    label.checkbox-inline
                      input(type='checkbox', value='option1')
                      |  先生
                    label.checkbox-inline
                      input(type='checkbox', value='option2')
                      |  小姐
                // /form-group
                .form-group
                  label.col-sm-3.control-label
                    | 手機號碼
                    span.text-danger *
                  .col-sm-9
                    input.form-control(type='text', placeholder='請輸入正確號碼，訂單完成將寄送簡訊', name='order[shipment][mobile]', value= userData.mobile)
                // /form-group
                .form-group
                  label.col-sm-3.control-label
                    | 寄送地址
                    span.text-danger *
                  .col-sm-9
                    #twzipcodeShipment
                    
                  .col-sm-9.col-sm-offset-3.m-top-3
                    input.form-control(type='text', name='order[shipment][address]', value= userData.address)
                // /form-group
              // /form-horizontal
              h2 發票資訊
              hr
              form.form-horizontal.m-bottom-10
                .form-group
                  label.col-sm-3.control-label
                    | 發票收件人
                    span.text-danger *
                  .col-sm-9
                    label.checkbox-inline
                      input(type='checkbox', value='option1')
                      |  寄給購買人
                    label.checkbox-inline
                      input(type='checkbox', value='option2')
                      |  捐贈慈善機構
                      a(href='#', data-toggle='tooltip', title='發票將每月隨機捐給各慈善機構如：家扶基金會、中華社會福利聯合勸募協會等。')
                        span.glyphicon.glyphicon-info.m-left-1
                // /form-group
                .form-group
                  label.col-sm-3.control-label
                    | 發票類型
                    span.text-danger *
                  .col-sm-9
                    label.checkbox-inline
                      input(type='checkbox', value='option1')
                      |  二聯式發票
                    label.checkbox-inline
                      input(type='checkbox', value='showhide-invoice')
                      |  三聯式發票
                // /form-group
                .showhide-invoice(style='display: none')
                  .form-group
                    label.col-sm-3.control-label
                      | 公司抬頭
                      span.text-danger *
                    .col-sm-9
                      input.form-control(type='text', placeholder='請輸入公司抬頭')
                  // /form-group
                  .form-group
                    label.col-sm-3.control-label
                      | 統一編號
                      span.text-danger *
                    .col-sm-9
                      input.form-control(type='text', placeholder='請輸入統一編號')
                  // /form-group
                // /dvinvoice
              // /form-horizontal
            // /p-40
          // /col-md-9
          .col-md-3.desktop-p-left-0
            .p-20
              table.table.m-bottom-6
                tbody
                  tr
                    th 小計
                      td#subtotal.text-right 0
                  tr
                    th 總折扣
                    td.text-right
                      span.text-danger 0
                  tr
                    th 運費
                    td#shippingFeeField.text-right 0
                  tr
                    th 禮品包裝
                    td.text-right 0
                  tr
                    th 折扣碼
                    td.text-right
                      span.text-danger 0
                  tr
                    th 加價購
                    td#buymore.text-right 0
                  tr
                    th 總計
                    td.text-right
                      h3#totalPrice.m-top-0 0
              a.btn.btn-black.border-radius-circle.btn-block.m-bottom-2#orderCreate 送出訂單
              a.btn.btn-default.border-radius-circle.btn-block(href='/user/cart') 回上一頁
            // /p-20
          // /col-md-3
        // /row
      // /border-block-3
    // /container
block js
  script(src="/javascripts/jquery.twzipcode.min.js")
  script(src="/javascripts/main/cartstep2.js")
