extends ../_layout_head

block body
  #carousel-index.carousel.slide(data-ride='carousel')
    - var slideLength = sliders.length;
    //- h3=slideLength
    ol.carousel-indicators
      - for(var i=0; i< slideLength; i++)
        - var classActiveSlide = (i == 0) ? 'active' : '';
        li(data-target='#carousel-index', data-slide-to='#{i}', class=classActiveSlide)
        | &#x9;&#x9;
      //- // /carousel-indicators

    .carousel-inner(role='listbox')
      each slider, index in sliders
        - var classActiveSlider = (index == 0) ? 'active' : '';
        a(href='#{slider.link}', class='item #{classActiveSlider}', target= slider.openWindow == true ? "_new" : "_self")
          img.img-full(src='#{slider.cover}', alt='#{slider.title}')
          div(class="carousel-caption #{slider.location}", style="color: #{slider.color}")
            h1 #{slider.title}
            - if (slider.description)
              p !{slider.description.replace(/\n/g, "<br>")}
          // /carousel-caption
    // /carousel-inner
    a.left.carousel-control(href='#carousel-index', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-thin-left(aria-hidden='true')
      | &#x9;&#x9;
      span.sr-only Previous
    // /carousel-control
    a.right.carousel-control(href='#carousel-index', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-thin-right(aria-hidden='true')
      | &#x9;&#x9;
      span.sr-only Next
    // /carousel-control
  // /carousel-index
  .container
    .page-header.text-center.text-uppercase
      h3
        | exclusives
        br
        | #{i18n('selection-active')}
    // /page-header
    hr.hr-6.m-bottom-6
    | &#x9;
    each activity in selectionActivities
      .row.row-s
        each image in activity.Images
          case activity.Images.length
            when 1
              .col-xs-12
                if image.openWindow
                  a(href= image.url ,target='_blank')
                    img.img-full.m-bottom-4(src= image.path)
                else
                  a(href= image.url)
                    img.img-full.m-bottom-4(src= image.path)
            when 2
              .col-xs-6
                if image.openWindow
                  a(href= image.url ,target='_blank')
                    img.img-full.m-bottom-4(src= image.path)
                else
                  a(href= image.url)
                    img.img-full.m-bottom-4(src= image.path)
            when 3
              .col-xs-4
                if image.openWindow
                  a(href= image.url ,target='_blank')
                    img.img-full.m-bottom-4(src= image.path)
                else
                  a(href= image.url)
                    img.img-full.m-bottom-4(src= image.path)
          // /col-xs-12
        // /row
    //- .page-header.text-center.text-uppercase
    //-   h3
    //-     | limited time offer
    //-     br
    //-     | &#x9650;&#x6642;&#x9583;&#x8CFC; &#x7368;&#x5BB6;&#x5546;&#x54C1;
    //- // /page-header
    //- each Product in flashPromotions.Products
    //-   .row.m-bottom-8
    //-     .col-md-4.col-sm-6
    //-       a.item-block.m-bottom-6(href='shop-discount')
    //-         img.img-full(src='#{Product.photos[0]}')
    //-         | &#x9;&#x9;&#x9;&#x9;
    //-         .info-block
    //-           .row.row-s
    //-             .col-xs-8
    //-               h4
    //-                 | GOODJOB
    //-                 br
    //-                 | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
    //-                 br
    //-                 | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
    //-             // /col-xs-8
    //-             .col-xs-4
    //-               h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
    //-             // /col-xs-4
    //-           // /row
    //-         // /info-block
    //-       // /item-block
    //-     // /col-md-4
    //-   .col-md-4.col-sm-6
    //-     a.item-block.m-bottom-6(href='shop-discount')
    //-       img.img-full(src='images/demo/shop-item-6-2.jpg')
    //-       | &#x9;&#x9;&#x9;&#x9;
    //-       .info-block
    //-         .row.row-s
    //-           .col-xs-8
    //-             h4
    //-               | GOODJOB
    //-               br
    //-               | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
    //-               br
    //-               | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
    //-           // /col-xs-8
    //-           .col-xs-4
    //-             h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
    //-           // /col-xs-4
    //-         // /row
    //-       // /info-block
    //-     // /item-block
    //-   // /col-md-4
    //-   .col-md-4.col-sm-6
    //-     a.item-block.m-bottom-6(href='shop-discount')
    //-       img.img-full(src='images/demo/shop-item-8-1.jpg')
    //-       | &#x9;&#x9;&#x9;&#x9;
    //-       .info-block
    //-         .row.row-s
    //-           .col-xs-8
    //-             h4
    //-               | GOODJOB
    //-               br
    //-               | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
    //-               br
    //-               | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
    //-           // /col-xs-8
    //-           .col-xs-4
    //-             h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
    //-           // /col-xs-4
    //-         // /row
    //-       // /info-block
    //-     // /item-block
    //-   // /col-md-4
    //-   .col-md-4.col-sm-6
    //-     a.item-block.m-bottom-6(href='shop-discount')
    //-       img.img-full(src='images/demo/shop-item-9-1.jpg')
    //-       | &#x9;&#x9;&#x9;&#x9;
    //-       .info-block
    //-         .row.row-s
    //-           .col-xs-8
    //-             h4
    //-               | GOODJOB
    //-               br
    //-               | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
    //-               br
    //-               | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
    //-           // /col-xs-8
    //-           .col-xs-4
    //-             h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
    //-           // /col-xs-4
    //-         // /row
    //-       // /info-block
    //-     // /item-block
    //-   // /col-md-4
    //-   .col-md-4.col-sm-6
    //-     a.item-block.m-bottom-6(href='shop-discount')
    //-       img.img-full(src='images/demo/shop-item-10-1.jpg')
    //-       | &#x9;&#x9;&#x9;&#x9;
    //-       .info-block
    //-         .row.row-s
    //-           .col-xs-8
    //-             h4
    //-               | GOODJOB
    //-               br
    //-               | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
    //-               br
    //-               | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
    //-           // /col-xs-8
    //-           .col-xs-4
    //-             h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
    //-           // /col-xs-4
    //-         // /row
    //-       // /info-block
    //-     // /item-block
    //-   // /col-md-4
    //-   .col-md-4.col-sm-6
    //-     a.item-block.m-bottom-6(href='shop-discount')
    //-       img.img-full(src='images/demo/shop-item-11-1.jpg')
    //-       | &#x9;&#x9;&#x9;&#x9;
    //-       .info-block
    //-         .row.row-s
    //-           .col-xs-8
    //-             h4
    //-               | GOODJOB
    //-               br
    //-               | &#x5EFA;&#x7BC9;&#x5E2B;&#x4E8B;&#x52D9;&#x54C1;&#x724C; &#x9EDE;&#x96C5;&#x7CFB;&#x5217;
    //-               br
    //-               | &#x96FB;&#x8166;&#x5305; 85 &#x6298; | 8/20 &#x7D50;&#x675F;
    //-           // /col-xs-8
    //-           .col-xs-4
    //-             h4.text-danger.text-right &#x5012;&#x6578; 08:15:46
    //-           // /col-xs-4
    //-         // /row
    //-       // /info-block
    //-     // /item-block
    //-   // /col-md-4
    //- // /row
    //- .page-header.text-center.text-uppercase
    //-   h3
    //-     | a life story
    //-     br
    //-     | &#x751F;&#x6D3B;&#x8A8C;
    //- // /page-header
    //- .row.m-bottom-8
    //-   .col-md-4.col-sm-6
    //-     .m-bottom-8
    //-       //
    //-         blog-item-v
    //-         ==================================================
    //-       a(href='#')
    //-         img.img-full.m-bottom-4(src='http://fakeimg.pl/600x400/dddddd/FFF/?text=600x400')
    //-       h3.m-top-0.h3-two-hide
    //-         a(href='#') &#x7AE5;&#x8A71;&#x822C;&#x7684;&#x5348;&#x8336;&#x6D3E;&#x5C0D;&#xFF0C;&#x5C31;&#x8B93;&#x96C0;&#x5152;&#x5B88;&#x8B77;&#x7F8E;&#x5473;&#x7684;&#x751C;&#x9EDE;
    //-       h6.text-muted.m-bottom-4
    //-         span.glyphicon.glyphicon-clock.m-right-1
    //-         | 18 &#x516D;&#x6708;, 2015
    //-         | &#x9;
    //-         a(href='#')
    //-           span.glyphicon.glyphicon-folder.m-right-1.m-left-2
    //-           | +&#x8A2D;&#x8A08;
    //-       p.m-bottom-3.slarge-max-three-hide.font-size-slarge
    //-         | QUALY&#xFF0C;&#x4E00;&#x500B;&#x4F86;&#x81EA;&#x65B0;&#x4E9E;&#x6D32;&#x8A2D;&#x8A08;&#x4E2D;&#x5FC3;&#x7684;&#x65B0;&#x92B3;&#x8A2D;&#x8A08;&#x54C1;&#x724C;&#xFF0C;&#x6240;&#x6709;&#x7684;&#x7522;&#x54C1;&#x7686;&#x5728;&#x6CF0;&#x570B;&#x8A2D;&#x8A08;&#x3001;&#x88FD; &#x9020;&#xFF0C;&#x8C50;&#x5BCC;&#x7684;&#x5275;&#x610F;&#x8207;&#x9AD8;&#x54C1;&#x8CEA;&#x7684;&#x7522;&#x54C1;&#x5DF2;&#x7D93;&#x5728;&#x6B50;&#x3001;&#x7F8E;&#x3001;&#x65E5;&#x672C;&#x7B49;&#x5730;&#x5927;&#x53D7;&#x597D;&#x8A55;&#x3002;
    //-       a.text-green.link-more(href='#')
    //-         span.glyphicon.glyphicon-more.font-size-xlarge
    //-         |  more
    //-     // /m-bottom-8
    //-   // /col-md-4
    //-   .col-md-4.col-sm-6
    //-     .m-bottom-8
    //-       //
    //-         blog-item-v
    //-         ==================================================
    //-       a(href='#')
    //-         img.img-full.m-bottom-4(src='http://fakeimg.pl/600x400/dddddd/FFF/?text=600x400')
    //-       h3.m-top-0.h3-two-hide
    //-         a(href='#') &#x7AE5;&#x8A71;&#x822C;&#x7684;&#x5348;&#x8336;&#x6D3E;&#x5C0D;&#xFF0C;&#x5C31;&#x8B93;&#x96C0;&#x5152;&#x5B88;&#x8B77;&#x7F8E;&#x5473;&#x7684;&#x751C;&#x9EDE;
    //-       h6.text-muted.m-bottom-4
    //-         span.glyphicon.glyphicon-clock.m-right-1
    //-         | 18 &#x516D;&#x6708;, 2015
    //-         | &#x9;
    //-         a(href='#')
    //-           span.glyphicon.glyphicon-folder.m-right-1.m-left-2
    //-           | +&#x8A2D;&#x8A08;
    //-       p.m-bottom-3.slarge-max-three-hide.font-size-slarge
    //-         | QUALY&#xFF0C;&#x4E00;&#x500B;&#x4F86;&#x81EA;&#x65B0;&#x4E9E;&#x6D32;&#x8A2D;&#x8A08;&#x4E2D;&#x5FC3;&#x7684;&#x65B0;&#x92B3;&#x8A2D;&#x8A08;&#x54C1;&#x724C;&#xFF0C;&#x6240;&#x6709;&#x7684;&#x7522;&#x54C1;&#x7686;&#x5728;&#x6CF0;&#x570B;&#x8A2D;&#x8A08;&#x3001;&#x88FD; &#x9020;&#xFF0C;&#x8C50;&#x5BCC;&#x7684;&#x5275;&#x610F;&#x8207;&#x9AD8;&#x54C1;&#x8CEA;&#x7684;&#x7522;&#x54C1;&#x5DF2;&#x7D93;&#x5728;&#x6B50;&#x3001;&#x7F8E;&#x3001;&#x65E5;&#x672C;&#x7B49;&#x5730;&#x5927;&#x53D7;&#x597D;&#x8A55;&#x3002;
    //-       a.text-green.link-more(href='#')
    //-         span.glyphicon.glyphicon-more.font-size-xlarge
    //-         |  more
    //-     // /m-bottom-8
    //-   // /col-md-4
    //-   .col-md-4.col-sm-6
    //-     .m-bottom-8
    //-       //
    //-         blog-item-v
    //-         ==================================================
    //-       a(href='#')
    //-         img.img-full.m-bottom-4(src='http://fakeimg.pl/600x400/dddddd/FFF/?text=600x400')
    //-       h3.m-top-0.h3-two-hide
    //-         a(href='#') &#x7AE5;&#x8A71;&#x822C;&#x7684;&#x5348;&#x8336;&#x6D3E;&#x5C0D;&#xFF0C;&#x5C31;&#x8B93;&#x96C0;&#x5152;&#x5B88;&#x8B77;&#x7F8E;&#x5473;&#x7684;&#x751C;&#x9EDE;
    //-       h6.text-muted.m-bottom-4
    //-         span.glyphicon.glyphicon-clock.m-right-1
    //-         | 18 &#x516D;&#x6708;, 2015
    //-         | &#x9;
    //-         a(href='#')
    //-           span.glyphicon.glyphicon-folder.m-right-1.m-left-2
    //-           | +&#x8A2D;&#x8A08;
    //-       p.m-bottom-3.slarge-max-three-hide.font-size-slarge
    //-         | QUALY&#xFF0C;&#x4E00;&#x500B;&#x4F86;&#x81EA;&#x65B0;&#x4E9E;&#x6D32;&#x8A2D;&#x8A08;&#x4E2D;&#x5FC3;&#x7684;&#x65B0;&#x92B3;&#x8A2D;&#x8A08;&#x54C1;&#x724C;&#xFF0C;&#x6240;&#x6709;&#x7684;&#x7522;&#x54C1;&#x7686;&#x5728;&#x6CF0;&#x570B;&#x8A2D;&#x8A08;&#x3001;&#x88FD; &#x9020;&#xFF0C;&#x8C50;&#x5BCC;&#x7684;&#x5275;&#x610F;&#x8207;&#x9AD8;&#x54C1;&#x8CEA;&#x7684;&#x7522;&#x54C1;&#x5DF2;&#x7D93;&#x5728;&#x6B50;&#x3001;&#x7F8E;&#x3001;&#x65E5;&#x672C;&#x7B49;&#x5730;&#x5927;&#x53D7;&#x597D;&#x8A55;&#x3002;
    //-       a.text-green.link-more(href='#')
    //-         span.glyphicon.glyphicon-more.font-size-xlarge
    //-         |  more
    //-     // /m-bottom-8
    //-   // /col-md-4


    // /row THEME OF THE MONTH
    - if (topicActivities && topicActivities[0])
      hr.hr-6.m-bottom-6
      | &#x9;
      .page-header.text-center.text-uppercase
        h3
          | theme of the month
          br
          =topicActivities[0].dataValues.title
      // /page-header
      each activity, index in topicActivities
        - var activity = activity.dataValues;
        .row.m-bottom-4
          .col-sm-4
            .row.row-m
              .col-xs-12
                a.link-border.m-bottom-4(href='#{activity.ImageA.url}')
                  img.img-full(src='#{activity.ImageA.path}')
              // /col-xs-12
              .col-xs-6
                a.link-border.m-bottom-4(href='#{activity.ImageA1.url}')
                  img.img-full(src='#{activity.ImageA1.path}')
              // /col-xs-6
              .col-xs-6
                a.link-border.m-bottom-4(href='#{activity.ImageA2.url}')
                  img.img-full(src='#{activity.ImageA2.path}')
              // /col-xs-6
            // /row
          // /col-sm-4
          .col-sm-4
            .row.row-m
              .col-xs-6
                a.link-border.m-bottom-4(href='#{activity.ImageB.url}')
                  img.img-full(src='#{activity.ImageB.path}')
              // /col-xs-6
              .col-xs-6
                a.link-border.m-bottom-4(href='#{activity.ImageB1.url}')
                  img.img-full(src='#{activity.ImageB1.path}')
              // /col-xs-6
              .col-xs-12
                a.link-border.m-bottom-4(href='#{activity.ImageB2.url}')
                  img.img-full(src='#{activity.ImageB2.path}')
              // /col-xs-12
            // /row
          // /col-sm-4
          .col-sm-4
            .row.row-m
              .col-xs-12
                a.link-border.m-bottom-4(href='#{activity.ImageC.url}')
                  img.img-full(src='#{activity.ImageC.path}')
              // /col-xs-12
              .col-xs-6
                a.link-border.m-bottom-4(href='#{activity.ImageC.url}')
                  img.img-full(src='#{activity.ImageC1.path}')
              // /col-xs-6
              .col-xs-6
                a.link-border.m-bottom-4(href='#{activity.ImageC2.url}')
                  img.img-full(src='#{activity.ImageC2.path}')
              // /col-xs-6
            // /row
          // /col-sm-4
      // /row
  // /container
  
  
block js
