extends ../_layout_head
include ../mixins/pagination

block body
    .mobile-hide
      .container
        ul.list-inline.list-shop-type
          each dpt, index in dpts
            li.dpt(data-id='#{dpt.id}')
              a(href='#', aria-expanded='false', data-toggle='collapse')
                | #{dpt.name}
          li.li-btn
            a.btn.btn-default.border-radius-circle(data-toggle='collapse', href='#dropdown-menu-brands-3', aria-expanded='false') 品牌列表
        // /list-shop-type
      // /container
      #dropdown-menu-brands-3.dropdown-menu-full.collapse
        .container.p-top-4.p-bottom-4
          h2.text-center.text-gray-darker 品牌列表
          //
            dropdown-menu-brands-shop
            ==================================================
          .clearfix.m-bottom-2.text-left
            h4.text-gray-darker.m-bottom-4 代理品牌
            ul.list-inline.list-brand
              each brand, idx in brands
                - if (brand.type === 'AGENT')
                  li
                    a(href='/shop/list?brand=#{brand.id}')
                      img.border-block-1.img-full(src=brand.avatar)
          // /clearfix
          .clearfix.m-bottom-2
            h4.text-gray-darker.m-bottom-4 精選品牌
            ul.list-inline.list-brand
              each brand, idx in brands
                - if (brand.type === 'PRIME_GOOD')
                  li
                    a(href='/shop/list?brand=#{brand.id}')
                      img.border-block-1.img-full(src=brand.avatar)
          // /clearfix
        // /container
      // /dropdown-menu
    // /mobile-hide
    .gray-lighter.min-height-38
      .container
        .tab-content
          each dpt, val in dpts
            - if (dpt.DptSubs.length)
              .tab-pane.fade(id = "subDpt"+dpt.id)
                  ul.list-inline.list-shop-type-sm.font-size-small
                    each subDpt, index in dpt.DptSubs
                      li(class= (index==0)? "active subDpt" : "subDpt" data-id='#{subDpt.id}') 
                        a(href='?dptSubId=#{subDpt.id}&dptId=#{dpt.id}')
                          | #{subDpt.name}
          // /list-shop-type-9
        // /tab-content
      // /container
    // /gray-lighter
    .container
      form.with-pagination(name="searchProducts", action="/shop/products", method="get")
        +pagination-fields(page, limit)
        .m-top-8.m-bottom-8
          //
            shop-filter
            ==================================================
          
          
          .btn-group
            button.btn.btn-default.border-radius-circle.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              span.glyphicon.glyphicon-list.m-right-1
              | 預設排序
            ul.dropdown-menu.width-210.m-top-2.p-top-2.p-bottom-2
              li
                a(href='#')
                  | 受關注度優先
                  span.glyphicon.glyphicon-chevron-thin-right.pull-right
              li
                a(href='#')
                  | 熱門收藏優先
                  span.glyphicon.glyphicon-chevron-thin-right.pull-right
              li
                a(href='#')
                  | 最新上架優先
                  span.glyphicon.glyphicon-chevron-thin-right.pull-right
              li
                a(href='#')
                  | 價格由高至低
                  span.glyphicon.glyphicon-chevron-thin-right.pull-right
              li
                a(href='#')
                  | 價格由低至高
                  span.glyphicon.glyphicon-chevron-thin-right.pull-right
              li.p-8-30
                | 顏色：
                br
                a.color-filter.color-red(href='#')
                a.color-filter.color-orange(href='#')
                a.color-filter.color-yellow(href='#')
                a.color-filter.color-green(href='#')
                a.color-filter.color-blue(href='#')
                a.color-filter.color-purple(href='#')
                a.color-filter.color-deeppink(href='#')
                a.color-filter.color-pink(href='#')
                a.color-filter.color-black(href='#')
                a.color-filter.color-gray(href='#')
                a.color-filter.color-graylight(href='#')
                a.color-filter.color-gold(href='#')
                a.color-filter.color-brown(href='#')
                a.color-filter.color-mix(href='#')
            // /dropdown-menu
          // /btn-group
          // /m-top-8 m-bottom-8
        .row
          each product,val in products
            .col-md-3.col-sm-4.col-xs-6
              .item-block.m-bottom-4
                a.item-like(href='#', data-productId=product.id)
                  span.glyphicon.glyphicon-heart
                // /item-like

                if product.status == 'soldout'
                  // label: sold out
                  span.label.label-default
                    | SOLD
                    br
                    | OUT
                else if product.status == 'sale'
                  // label: sale
                  span.label.label-danger SALE
                else
                  // label: new
                  span.label.label-success NEW


                a(href='/shop/products/#{product.ProductGm.id}/#{product.id}')


                  img.img-full.item-show(src=product.photos && product.photos[0]? product.photos[0] : "http://www.culpwrit.com/wp-content/uploads/2012/09/no11.jpg")
                  img.img-full.item-hide(src=product.photos && product.photos[1]? product.photos[1] : "http://www.culpwrit.com/wp-content/uploads/2012/09/no11.jpg")
              // /item-block
              .item-text-block.m-bottom-8
                h6.text-muted
                  a(href='/brands/#{product.ProductGm.BrandId}') #{_.find(brands, {id: product.ProductGm.BrandId}).name }
                h4.m-bottom-2.h4-max-two-hide
                  - var name = product.name ? "(" + product.name + ")" : "";
                  //- a(href='/shop/product?pid=#{product.id}') #{product.ProductGm.name} #{name}

                  a(href='/shop/products/#{product.ProductGm.id}/#{product.id}') #{product.ProductGm.name} #{name}
                h5
                  | $ #{product.price}
              // /item-text-block
            // /col-md-3
          // /row
        .text-center.m-bottom-8
          //
            pagination-block
            ==================================================
          +pagination-simple-pager(page, totalPages)
        // /text-center
      // /container
block js
  script(src="/javascripts/main/shop.js")
  script(src='/javascripts/common/pagination.js')
