//- 當一頁需要兩個獨立 pagination 時，可透過 anotherId 設定第二個 pagination-limit select 的 id 
mixin pagination-limit(limit, anotherId)
  select.form-control(id=anotherId?anotherId:'pagination-limit')
    option(selected=(limit==20)) 20
    option(selected=(limit==30)) 30
    option(selected=(limit==40)) 40
    option(selected=(limit==50)) 50
    option(selected=(limit==100)) 100

mixin pagination-simple-pager(page, totalPages)
    - page = page || 0;
    .text-center.m-bottom-8
      nav
        ul.pagination
          if (page+1 > 1)
            li
              a(href='#', aria-label='Previous', id='pagination-prev')
                span(aria-hidden='true') «
          if (totalPages > 1)
            - for(var i=1; i <= totalPages; i++) {
              - var active = (page+1==i) ? 'active' : '';
              li(href='#', class='#{active} pagination-jump' data-page='#{i}')
                a(href='#') #{i}
            - }
          if (page+1 < totalPages)
            li
              a(href='#', aria-label='Next', id='pagination-next')
                span(aria-hidden='true') »
  //- .text-center
  //-   ul.list-inline.m-bottom-0.m-top-1
  //-     li.border-right-1.p-right-2
  //-       a(href='#' id='pagination-prev') 上一頁
  //-     li.border-right-1.p-right-2 #{page + 1} / #{totalPages}
  //-     li
  //-       a(href='#' id='pagination-next') 下一頁

mixin pagination-fields(page, totalPages, limit)
  input(type='hidden', name='page', value=page)
  input(type='hidden', name='totalPages', value=totalPages)
  input(type='hidden', name='limit', value=limit)
