//control-menu==================================================
#control-menu.line-height-large.m-bottom-8(data-currentpage='#{pageName}')
  .panel
    a.control-menu-top.collapsed(data-toggle='collapse', data-parent='#control-menu', href='#collapseOne')
      span.glyphicon.glyphicon-window.m-right-2
      | #{i18n('home-management')}
    #collapseOne.panel-collapse.collapse
      ul.list-unstyled
        li
          a(href='/admin/index-slider') #{i18n('slide-active')}
        li
          a(href='/admin/exclusive') #{i18n('selection-active')}
        li
          a(href='/admin/topicActivities') #{i18n('theme-active')}
    // /panel-collapse
  // /panel
  .panel
    a.control-menu-top.collapsed(data-toggle='collapse', data-parent='#control-menu', href='#collapseTwo')
      span.glyphicon.glyphicon-list.m-right-2
      | #{i18n('brand-classification')}
    #collapseTwo.panel-collapse.collapse
      ul.list-unstyled
        li
          a(href='/admin/brands') #{i18n('brand-manager')}
        li
          a(href='/admin/department') #{i18n('dpt-manager')}
    // /panel-collapse
  // /panel
  .panel
    a.control-menu-top.collapsed(data-toggle='collapse', data-parent='#control-menu', href='#collapseThree')
      span.glyphicon.glyphicon-window.m-right-2
      | #{i18n('good-management')}
    #collapseThree.panel-collapse.collapse
      ul.list-unstyled
        li
          a(href='/admin/goods/create') #{i18n('good-publish')}
        li
          a(href='/admin/goods') #{i18n('good-list')}
    // /panel-collapse
  // /panel
  .panel
    a.control-menu-top.collapsed(data-toggle='collapse', data-parent='#control-menu', href='#collapseFour')
      span.glyphicon.glyphicon-gift.m-right-2
      | #{i18n('marketing-strategy')}
    #collapseFour.panel-collapse.collapse
      ul.list-unstyled
        li
          a(href='/admin/shop-discount') #{i18n('good-discounts')}
        //- li
        //-   a(href='/admin/bonus') 紅利點數
        li
          a(href='/admin/shop-buy-more') #{i18n('increase-purchase')}
        li
          a(href='/admin/shop-code') #{i18n('coupon-code')}
        li
          a(href='/admin/shop-report-form') #{i18n('revenue-report')}
    // /panel-collapse
  // /panel
  .panel
    a.control-menu-top.collapsed(data-toggle='collapse', data-parent='#control-menu', href='#collapseFive')
      span.glyphicon.glyphicon-orderform.m-right-2
      | #{i18n('order-management')}
    #collapseFive.panel-collapse.collapse
      ul.list-unstyled
        li
          a(href='/admin/order') #{i18n('order-management')}
        li
          a(href='#') #{i18n('create-order')}
    // /panel-collapse
  // /panel
  .panel
    a.control-menu-top.collapsed(data-toggle='collapse', data-parent='#control-menu', href='#collapseSix')
      span.glyphicon.glyphicon-truck2.m-right-2
      | #{i18n('payment')}
    #collapseSix.panel-collapse.collapse
      ul.list-unstyled
        li
          a(href='/admin/shipping') #{i18n('shipping-fee-setting')}
    // /panel-collapse
  // /panel
  .panel
    a.control-menu-top.collapsed(data-toggle='collapse', data-parent='#control-menu', href='#collapseSeven')
      span.glyphicon.glyphicon-comment.m-right-2
      | #{i18n('footer-information')}
    #collapseSeven.panel-collapse.collapse
      ul.list-unstyled.p-left-6
        li
          a(href='/admin/about') #{i18n('about-us')}
        li
          a(href='/admin/FAQ') #{i18n('faq')}
    // /panel-collapse
  // /panel
  .panel
    a.control-menu-top.collapsed(data-toggle='collapse', data-parent='#control-menu', href='#collapseEight')
      span.glyphicon.glyphicon-user.m-right-2
      | #{i18n('member-area')}
    #collapseEight.panel-collapse.collapse
      ul.list-unstyled.p-left-6
        li
          a(href='/admin/members') #{i18n('member-list')}
    // /panel-collapse
  // /panel
// /panel-group

// sidebar navigation active
