extends ../_layout_auth

block body
  h2.m-bottom-6 紅利點數
  a.btn.btn-danger.btn-lg.m-bottom-6(href='/admin/bonus/add') 新增紅利點數
  .row
    .col-sm-6.col-md-8
      form.form-inline
        .form-group
          label 顯示
          select#bonus-query-limit.form-control
            option(selected=(limit==10)) 10
            option(selected=(limit==20)) 20
            option(selected=(limit==30)) 30
            option(selected=(limit==40)) 40
            option(selected=(limit==50)) 50
          label 筆資料（共 #{allBonus.count} 筆）
        // /form-group
    // /col-sm-6
    .col-sm-6.col-md-4
      form.form-horizontal(name="searchBonus", action="bonus", method="get")
        .input-group
          input#keyword.form-control(type='text',name="keyword", placeholder='Search for...',value = query.keyword)
          span.input-group-btn
            input(type='hidden', name='page' value = page)
            button.btn.btn-default.p-left-2.p-right-2(type='button' onClick='$("#keyword").val("");$("form[name=\'searchBonus\']").submit()')
              span.glyphicon.glyphicon-remove
            button.btn.btn-default.p-left-2.p-right-2(type='button' onClick='$("form[name=\'searchBonus\']").submit()')
              span.glyphicon.glyphicon-search
      // /input-group
    // /col-sm-6
  // /row
  hr.dashed-line
  table.table.table-striped
    thead
      tr
        th 信箱
        th 剩餘紅利點數
        th 已使用
        th 更新時間
        th 
    tbody
      each bonus in allBonus.rows
        tr
          td
            span.text-info #{bonus.email}
          td 
            span.text-info #{bonus.remain}
          td
            span.text-info #{bonus.used}
          td
            span.text-info= sails.moment(bonus.updatedAt).format('YYYY/MM/DD hh:mm')
          td.text-right
            a.btn.btn-link(href='bonus/edit/?email=#{bonus.email}')
              span.glyphicon.glyphicon-pencil2
  hr.dashed-line
  .text-center
    ul.list-inline.m-bottom-0.m-top-1
      li.border-right-1.p-right-2
      li
        a(href='#' id='bonusPrevious') 上一頁
      li.border-right-1.p-right-2 #{page + 1} / #{Math.ceil(allBonus.count / limit)}
      li
        a(href='#' id='bonusNext') 下一頁
  block js
    script.
      $(function() {
        $('#bonus-query-limit').change(function() {
          location.href='/admin/bonus?limit='+$(this).val();
        });

        $('.form-control').change(function(){
          $("input[name='page']").val(0);
        });

        $('#bonusNext').click(function(){
          $("input[name='page']").val(parseInt($("input[name='page']").val())+1);
          $("form[name='searchBonus']").submit();
        });

        $('#bonusPrevious').click(function(){
          $("input[name='page']").val(parseInt($("input[name='page']").val())-1);
          $("form[name='searchBonus']").submit();
        });
      });
